extends ../layout

include ../style-guide/content-types/reports.jade

block append vars
  - bodyclass = 'example-page'

block content
  section
    .row.page-title
      .col-xs-12
        h1 Colour
        h2 /Catwalk Analysis

    .row
      .col-xs-12.col-sm-3.col-md-2
        .sidebar-menu
          h4 Future Trends
          ul
            li: a(href="") S/S 18
            li: a(href="") A/W 17/18
            li: a(href="") S/S17
            li: a(href="") A/W 16/17
            li: a(href="") S/S 16
            li: a(href="") A/W 15/16

          h4 Market Reporting
          ul
            li.sidebar-menu--active: a(href="") Catwalk Analysis
            li: a(href="") Trade Shows
            li: a(href="") Retail &amp; Buying

          h4 Trend Watch
          ul
            li: a(href="") Colour Alerts
            li: a(href="") Inspiration

      .col-xs-12.col-sm-9.col-md-10
        .row.block-ver-md
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67398/thumb.jpg", "Retail", "New Look A/W 16/17 – Womenswear", false, "03.08.16", "Faye Howard")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/66680/thumb.jpg", "Trend Forecast", "Women's Forecast S/S 18: Slow Futures", false, "01.08.16", "Robbie Sinclair, Jane Boddy, Laura Yiannakou")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67015/thumb.jpg", "Trade Shows", "Berlin Trade Shows S/S 17 – Premium", false, "08.07.16", "Laura Yiannakou")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67227/thumb.jpg", "Future Trends", "Prints & Graphics Women S/S 18: Silent Shapes – Slow Futures", false, "04.06.16", "Hannah Watkins")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67589/thumb.jpg", "Visual Merchandising", "S/S 17 Menswear & A/W 16/17 Couture Catwalk Sets", false, "08.08.16", "Claire Dickinson")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67601/thumb.jpg", "Knitwear", "The Sporty Crop-Top", false, "09.08.16", "Laura Yiannakou")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67398/thumb.jpg", "Retail", "New Look A/W 16/17 – Womenswear", false, "03.08.16", "Faye Howard")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/66680/thumb.jpg", "Trend Forecast", "Women's Forecast S/S 18: Slow Futures", false, "01.08.16", "Robbie Sinclair, Jane Boddy, Laura Yiannakou")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67015/thumb.jpg", "Trade Shows", "Berlin Trade Shows S/S 17 – Premium", false, "08.07.16", "Laura Yiannakou")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67227/thumb.jpg", "Future Trends", "Prints & Graphics Women S/S 18: Silent Shapes – Slow Futures", false, "04.06.16", "Hannah Watkins")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67589/thumb.jpg", "Visual Merchandising", "S/S 17 Menswear & A/W 16/17 Couture Catwalk Sets", false, "08.08.16", "Claire Dickinson")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67601/thumb.jpg", "Knitwear", "The Sporty Crop-Top", false, "09.08.16", "Laura Yiannakou")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67398/thumb.jpg", "Retail", "New Look A/W 16/17 – Womenswear", false, "03.08.16", "Faye Howard")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/66680/thumb.jpg", "Trend Forecast", "Women's Forecast S/S 18: Slow Futures", false, "01.08.16", "Robbie Sinclair, Jane Boddy, Laura Yiannakou")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67015/thumb.jpg", "Trade Shows", "Berlin Trade Shows S/S 17 – Premium", false, "08.07.16", "Laura Yiannakou")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67227/thumb.jpg", "Future Trends", "Prints & Graphics Women S/S 18: Silent Shapes – Slow Futures", false, "04.06.16", "Hannah Watkins")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67589/thumb.jpg", "Visual Merchandising", "S/S 17 Menswear & A/W 16/17 Couture Catwalk Sets", false, "08.08.16", "Claire Dickinson")
          .col-xs-12.col-sm-6.col-md-3.col-lg-2: +report-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67601/thumb.jpg", "Knitwear", "The Sporty Crop-Top", false, "09.08.16", "Laura Yiannakou")