pre
  background: $xdk-grey
  color: white
  @extend .block-md
  margin: 0 0 20px
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

.card + pre
  margin: -20px 0  20px !important
  border-radius: 0 0 2px 2px !important

code
  background: rgba($lt-grey, 0.75)
  border-radius: 2px
  padding: 0 4px
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

  span
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

  .token
    background: none
    border: none
    padding: 0
    margin: 0
    border-radius: 0
    float: none

    span
      float: none
      margin: 0
      padding: 0

      &:after
        content: none

pre code
  background: none

aside code
  background: darken($lt-grey, 5)