@font-face
  font-family: "WGSN Headline"
  src: url("../fonts/WGSNHeadline.otf")

@font-face
  font-family: "DH Sans"
  src: url("../fonts/DHSansLight.ttf")
  font-weight: normal

@font-face
  font-family: "DH Sans"
  src: url("../fonts/DHSansMedium.ttf")
  font-weight: bold

.serif
  font-family: "PT Serif", "Georgia", serif

p, li
  @extend .serif

.sans-serif
  font-family: "DH Sans", "Futura", sans-serif
  text-transform: uppercase
  font-weight: normal

.wgsn-font
  font-family: "WGSN Headline", "Futura", sans-serif
  text-transform: uppercase
  letter-spacing: 0.05em

h1, h2, h3, h4
  @extend .wgsn-font


// WEIGHT
.text-normal
  font-weight: normal

.text-bold
  font-weight: bold


// STYLE
.text-italic
  font-style: italic


// ALIGNMENT
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify


// TRANSFORMATION
.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize


// MARGINS
h1, h2, h3, h4, ul, ol, p, li
  margin: 0 0 0.5em

p:last-of-type,
li:last-of-type
  margin: 0

.tight
  margin: 0


a
  color: inherit
  text-decoration: none
  border-bottom: 1px solid
  +transition(all 300ms)

.text-brand
  color: $group
  border-color: $group

.text-white
  color: white
  border-color: white

.text-grey
  color: $md-grey
  border-color: $md-grey

a.text-grey:hover
  color: $dk-grey
  border-color: $dk-grey


.header-highlight
  display: inline-block
  position: relative
  
  &:after
    content: ""
    position: absolute
    width: 100%
    height: 12px
    bottom: 4px
    left: 0
    background: $website
    z-index: -1
    +transition(all 400ms)
    +transform(scale(0, 1))
    +transform-origin(left center)

  &:hover:after
    +transform(scale(1, 1))