header,
.sub-header
  .header-nav
    li
      a
        display: block
        position: relative
        color: rgba(white, 0.5)
        @extend .wgsn-font
        @extend .transition

        &:after
          content: ""
          display: block
          position: absolute
          background: white
          bottom: -2px
          left: 0
          width: 100%
          height: 2px
          transform: scale(0, 1)
          transform-origin: left center
          transition: all 300ms

      &:hover,
      &.active
        a
          color: white

          &:after
            transform: scale(1, 1)

header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 200

  .header-logo
    display: block
    margin: 18px 30px 0 0

  .wgsn-logo
    fill: white
    width: 80px

  &.headroom--top
    transform: translate3d(0, 0, 0)

  &.headroom--not-top
    transform: translate3d(0, -100%, 0)

.sub-header
  position: fixed
  top: 77px
  left: 0
  width: 100%
  z-index: 190

  &.headroom--top
    transform: translate3d(0, 0, 0)

  &.headroom--not-top
    transform: translate3d(0, -77px, 0)


// =============================================================


body.index
  #nav-products
    @extend .active

body.style-guide-overview
  #nav-style-guide,
  #nav-style-guide-overview
    @extend .active

body.style-guide-typography
  #nav-style-guide,
  #nav-style-guide-typography
    @extend .active

body.style-guide-layout
  #nav-style-guide,
  #nav-style-guide-layout
    @extend .active

body.style-guide-ui-elements
  #nav-style-guide,
  #nav-style-guide-ui-elements
    @extend .active

body.style-guide-content-types
  #nav-style-guide,
  #nav-style-guide-content-types
    @extend .active

body.style-guide-icons
  #nav-style-guide,
  #nav-style-guide-icons
    @extend .active

body.style-guide-mixins
  #nav-style-guide,
  #nav-style-guide-mixins
    @extend .active