.bg-white
  background: white

.bg-xlt-grey
  background: $xlt-grey

.bg-lt-grey
  background: $lt-grey

.bg-md-grey
  background: $md-grey
  color: white

.bg-dk-grey
  background: $dk-grey
  color: white

.bg-xdk-grey
  background: $xdk-grey
  color: white