.page-title {
  margin: 40px 0 0 0;
  z-index: 50;

  @media (min-width: @screen-sm-min) {
    margin: 40px 0 -18px 0;
  }
  
  .page-title--primary {
    .inline-block;
    margin: 0 20px 0 0;
  }

  .page-title--secondary {
    .inline-block;
    .tight;
    color: @wgsn-md;

    body.insight & {
      color: @insight-md;
    }

    body.fashion & {
      color: @fashion-md;
    }

    body.li & {
      color: @li-md;
    }

    body.instock & {
      color: @instock-md;
    }

    body.styletrial & {
      color: @styletrial-md;
    }
  }

  .page-title--categories {
    .text-uppercase;
    .text-bold;
    .tight;
    color: @wgsn-md;

    body.insight & {
      color: @insight-md;
    }

    body.fashion & {
      color: @fashion-md;
    }

    body.li & {
      color: @li-md;
    }

    body.instock & {
      color: @instock-md;
    }

    body.styletrial & {
      color: @styletrial-md;
    }
  }
}


// ========================================================================================================================
// Product Colors

body.product-insight {
  .page-title h2 {
    color: @insight-md;
  }
}

body.product-fashion {
  .page-title h2 {
    color: @fashion-md;
  }
}

body.product-li {
  .page-title h2 {
    color: @li-md;
  }
}

body.product-instock {
  .page-title h2 {
    color: @instock-md;
  }
}

body.product-styletrial {
  .page-title h2 {
    color: @styletrial-md;
  }
}

