.product-card
  @extend .block-lg
  opacity: 1
  transition: all 300ms

  &:before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 6px
    background: black
    transition: all 500ms
    transform-origin: left center
    transform: translate3d(0, 0, 0) scale(0, 1)

  img
    width: auto
    height: auto
    max-width: 100%
    max-height: 30px

  .info
    h3 .instructions
      font-size: 0.8em
      letter-spacing: 0
      opacity: 0
      display: inline-block
      transform: translate3d(40px, 0, 0)
      transition: all 600ms

    ul
      list-style-type: none
      padding: 0
      margin: 0

      li
        transition: all 300ms
        display: inline-block

        i
          font-size: 0.8em
          margin: 0 10px 0 0

    .product-colors h3 .instructions
      transition-delay: 200ms

  &:hover
    &:before
      transform: translate3d(0, 0, 0) scale(1, 1)

    .info h3 .instructions
      transform: translate3d(0, 0, 0)
      opacity: 1

  // product colours
  &.group
    .highlight-color
      color: $wgsn
    
    &:before,
    &:after
      background: $wgsn

  &.think-tank
    .highlight-color
      color: $think-tank
    
    &:before,
    &:after
      background: $think-tank

  &.fashion
    .highlight-color
      color: $fashion
    
    &:before,
    &:after
      background: $fashion

  &.styletrial
    .highlight-color
      color: $styletrial
    
    &:before,
    &:after
      background: $styletrial

  &.li
    .highlight-color
      color: $li
    
    &:before,
    &:after
      background: $li

  &.mindset
    .highlight-color
      color: $mindset
    
    &:before,
    &:after
      background: $mindset

  &.instock
    .highlight-color
      color: $instock
    
    &:before,
    &:after
      background: $instock
  
  &.website
    .highlight-color
      color: $yellow
    
    &:before,
    &:after
      background: $yellow