.product-card
  @extend .block-lg
  opacity: 1
  transition: all 300ms

  &:before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 6px
    background: black
    transition: all 500ms
    transform-origin: left center
    transform: translate3d(0, 0, 0) scale(0, 1)

  img
    width: auto
    height: auto
    max-width: 100%
    max-height: 30px

  .info
    .instructions
      font-size: 0.5em
      opacity: 0
      display: inline-block
      transform: translate3d(40px, 0, 0)
      transition: all 600ms

    .product-colors h3 .instructions
      transition-delay: 200ms

  &:hover
    &:before
      transform: translate3d(0, 0, 0) scale(1, 1)

    .instructions
      transform: translate3d(0, 0, 0)
      opacity: 1

  // PRODUCT COLOURS
  &.group
    &:hover
      h2
        color: $wgsn
    
    &:before,
    &:after
      background: $wgsn

  &.insight
    &:hover
      h2
        color: $insight
    
    &:before,
    &:after
      background: $insight

  &.fashion
    &:hover
      h2
        color: $fashion
    
    &:before,
    &:after
      background: $fashion

  &.styletrial
    &:hover
      h2
        color: $styletrial
    
    &:before,
    &:after
      background: $styletrial

  &.li
    &:hover
      h2
        color: $li
    
    &:before,
    &:after
      background: $li

  &.mindset
    &:hover
      h2
        color: $mindset
    
    &:before,
    &:after
      background: $mindset

  &.instock
    &:hover
      h2
        color: $instock
    
    &:before,
    &:after
      background: $instock