.product-card
  margin: 0 auto 50px
  overflow: auto
  
  .color-primary,
  .color-secondary,
  .color-tertiary
    float: left
    color: white
    width: 100%
    position: relative
    @extend .transition

    ul
      position: absolute
      bottom: 10px
      left: 14px

    li, span
      @extend .wgsn-font
      @extend .transition
      @extend .inline-block

    li
      border-bottom: 2px dashed rgba(white, 0.3)

      &:hover
        border-color: white

  .color-primary
    height: 280px

  .color-secondary
    width: 50%
    height: 140px

  .color-tertiary
    height: 140px

  .color-secondary + .color-tertiary
    width: 50%

  // PRODUCT COLOURS
  &.group
    .color-tertiary
      color: $wgsn

      li
        border-color: rgba($wgsn, 0.3)

        &:hover
          border-color: $wgsn

  &.insight
    .color-tertiary
      color: $insight

      li
        border-color: rgba($insight, 0.3)

        &:hover
          border-color: $insight

  &.fashion
    .color-tertiary
      color: $fashion

      li
        border-color: rgba($fashion, 0.3)

        &:hover
          border-color: $fashion

  &.styletrial
    .color-tertiary
      color: $styletrial

      li
        border-color: rgba($styletrial, 0.3)

        &:hover
          border-color: $styletrial

  &.li
    .color-tertiary
      color: $li

      li
        border-color: rgba($li, 0.3)

        &:hover
          border-color: $li

  &.mindset
    .color-tertiary
      color: $mindset

      li
        border-color: rgba($mindset, 0.3)

        &:hover
          border-color: $mindset

  &.instock
    .color-tertiary
      color: $instock

      li
        border-color: rgba($instock, 0.3)

        &:hover
          border-color: $instock