.product-card {
  overflow: hidden;
  
  .color-primary,
  .color-secondary,
  .color-tertiary {
    float: left;
    color: white;
    width: 100%;
    height: 160px;
    position: relative;
    .transition;

    ul {
      position: absolute;
      bottom: 10px;
      left: 14px;
      margin: 0;
    }

    li, span {
      .transition;
      display: inline-block;
    }

    li {
      position: relative;
      color: fade(white, 80%);
      cursor: pointer;

      &:after {
        content: "Copy";
        position: absolute;
        left: calc(100% + 10px);
        bottom: -2px;
        .serif;
        .text-italic;
        color: fade(white, 50%);
        transform: translate(10px, 0);
        .transition;
        opacity: 0;
      }

      &:hover {
        color: white;

        span {
          color: white;
        }

        &:after {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
    }
  }

  .color-tertiary {
    li {
      color: fade(black, 80%);

      &:after {
        color: fade(black, 60%);
      }

      &:hover {
        color: black;

        span {
          color: black;
        }
      }
    }
  }

  @media (min-width: @screen-md-min) {
    .color-primary {
      width: 50%;
    }

    .color-secondary {
      width: 25%;
    }

    .color-tertiary {
      width: 25%;
    }

    // for mindset, which only has two colors
    .color-primary + .color-tertiary {
      width: 50%;
    }
  }

   &.mindset {
    .color-tertiary {
      color: @mindset-primary-color;
      .border;
    }
  }
}