.report-tile
  .report-tile--img
    width: 100% 

  .report-tile--text
    margin: 10px 0 30px

    .report-tile--category
      @extend .wgsn-font
      @extend .text-brand
      @extend .text-uppercase
      @extend .tight

    .report-tile--title
      attr: none

    .report-tile--description
      attr: none

    .report-tile--info span
      @extend .wgsn-font
      @extend .text-grey