table.table
  @extend .sans-serif
  @extend .text-left
  border-collapse: collapse
  width: 100%

  thead
    th
      border-bottom: 2px solid $lt-grey
      padding: 12px 5px
      @extend .text-bold

  tbody
    tr
      td
        border-bottom: 1px solid $lt-grey
        padding: 12px 5px
        @extend .text-normal
        @extend .transition

  &.table-alternating
    tbody
      tr:nth-of-type(even)
        td
          background: rgba($xlt-grey, 0.5)

  &.table-selectable
    tbody
      cursor: pointer
      
      tr.selected
        td
          background: rgba($wgsn, 0.1)

        &:hover
          td
            background: rgba($wgsn, 0.15)

      tr:hover
        td
          background: rgba($wgsn, 0.05)


// ========================================================================================================================
// Product Colors

// INSIGHT
body.product-insight
  table.table.table-selectable
    tbody
      tr.selected td
        background: rgba($insight, 0.1)

      tr.selected :hover td
        background: rgba($insight, 0.15)

      tr:hover td
        background: rgba($insight, 0.05)

// FASHION
body.product-fashion
  table.table.table-selectable
    tbody
      tr.selected td
        background: rgba($fashion, 0.1)

      tr.selected :hover td
        background: rgba($fashion, 0.15)

      tr:hover td
        background: rgba($fashion, 0.05)

// L&I
body.product-li
  table.table.table-selectable
    tbody
      tr.selected td
        background: rgba($li, 0.1)

      tr.selected :hover td
        background: rgba($li, 0.15)

      tr:hover td
        background: rgba($li, 0.05)

// INSTOCK
body.product-instock
  table.table.table-selectable
    tbody
      tr.selected td
        background: rgba($instock, 0.1)

      tr.selected :hover td
        background: rgba($instock, 0.15)

      tr:hover td
        background: rgba($instock, 0.05)

// STYLETRIAL
body.product-styletrial
  table.table.table-selectable
    tbody
      tr.selected td
        background: rgba($styletrial, 0.1)

      tr.selected :hover td
        background: rgba($styletrial, 0.15)

      tr:hover td
        background: rgba($styletrial, 0.05)

