.token
  background: $lt-grey
  border: 1px solid $md-grey
  display: inline-block
  padding: 2px 5px
  margin: 0 5px 5px 0
  +border-radius(3px)

  .avatar
    margin: 2px 5px -2px 0

  span
    line-height: 1em
    margin: 0 5px 0 0

  .icon-cross
    cursor: pointer

  &:hover
    border-color: darken($md-grey, 20)

    .icon-cross
      color: darken($md-grey, 20)