.token {
  float: left;
  .bg-xlt-grey;
  padding: 5px 7px;
  margin: 0 5px 5px 0;

  .avatar,
  span,
  .icon {
    float: left;
  }

  span {
    .block-right-sm;
    display: inline-block;
    font-size: 14px; 
    position: relative;
    margin-top: 1px;
  }

  .icon-cross {
    color: @md-grey;
    .hoverable;
    .transition;

    &:hover {
      color: @dk-grey;
    }
  }
}
