.token
  background: $lt-grey
  border: 1px solid $md-grey
  display: inline-block
  padding: 2px 5px
  +border-radius(3px)

  .avatar
    margin: 2px 5px -2px 0

  span
    line-height: 1em
    margin: 0 5px 0 0

  .icon-cross
    cursor: pointer