.token
  background: $xlt-grey
  border: 1px solid $md-grey
  display: inline-block
  padding: 5px
  margin: 0 5px 5px 0
  border-radius: 3px

  .avatar,
  span,
  .icon
    @extend .pull-left

  span
    margin: 0 10px 0 0
    line-height: 1.2em

  .icon-cross
    cursor: pointer

    &:before
      top: 2px

  &:hover
    border-color: darken($md-grey, 20)

    .icon-cross
      color: darken($md-grey, 20)