@font-face
  font-family: "WGSN Headline"
  src: url("../assets/fonts/WGSNHeadline.otf")
  // src: url('../fonts/wgsnheadline-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/wgsnheadline-webfont.woff') format("woff"), url('../fonts/wgsnheadline-webfont.ttf') format("truetype"), url('../fonts/wgsnheadline-webfont.svg#wgsn_headlineregular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "DH Sans"
  src: url("../assets/fonts/DHSansLight.ttf")
  font-weight: normal

@font-face
  font-family: "DH Sans"
  src: url("../assets/fonts/DHSansMedium.ttf")
  font-weight: bold

.serif
  font-family: "PT Serif", "Georgia", serif

.sans-serif
  font-family: "Helvetica", sans-serif
  font-weight: normal

p, li, a, span
  @extend .sans-serif
  line-height: 1.4em

p > a
  line-height: 1.2em

.dh-sans-font
  font-family: "DH Sans", "Futura", "Helvetica", sans-serif
  text-transform: uppercase
  font-weight: normal

.wgsn-font
  font-family: "WGSN Headline", "Futura", sans-serif
  text-transform: uppercase
  font-size: 0.8em

h1, h2, h3, h4, label
  @extend .wgsn-font


// WEIGHT
.text-normal
  font-weight: normal

.text-bold,
strong
  font-weight: bold

h1, h2, h3, h4, label
  @extend .text-normal


// STYLE
.text-italic,
em
  font-style: italic

.text-underline
  border-bottom: 1px solid $dk-grey
  display: inline-block


// ALIGNMENT
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify

.text-truncate
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


// TRANSFORMATION
.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

.text-no-transform
  text-transform: none


// MARGINS
h1, h2, h3, h4, ul, ol, p
  margin: 0 0 0.5em

li
  margin: 0 0 10px

li:last-of-type
  margin: 0

ul,
ol
  padding-left: 20px

.tight
  margin: 0 !important


// SIZING
h1
  font-size: 1.6em

h2
  font-size: 1.4em

h3
  font-size: 1em

h4
  font-size: 0.8em

.text-smaller,
small
  font-size: 0.8em


a
  color: inherit
  text-decoration: none
  transition: all 300ms

  &:hover
    color: darken($dk-grey, 20)
    border-color: darken($dk-grey, 20)

// a.underlined
//   text-decoration: none
//   border-bottom: 1px solid

h2 + a
  margin-left: 10px

.clipboard
  cursor: pointer

.text-brand
  color: $wgsn
  border-color: $wgsn

.text-white
  color: white
  border-color: white

.text-grey
  color: $md-grey
  border-color: $md-grey

a.text-grey:hover
  color: $dk-grey
  border-color: $dk-grey

.icon
  position: relative
  display: inline-block
  width: 16px
  height: 16px

  &:before
    position: absolute
    top: 1px