// ====================
// Screen sizes
// ====================

// Extra small screen / phone
@screen-xs-min: 480px;

// Small screen / tablet
@screen-sm-min: 768px;

// Medium screen / desktop
@screen-md-min: 1000px;

// Large screen / wide desktop
@screen-lg-min: 1200px;

// Large screen / extra wide desktop
@screen-xl-min: 1500px;

// So media queries dont overlap when required, provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);


// ====================
// Colors
// ====================

@wgsn: #0000dd;
@wgsn-md: lighten(@wgsn, 30);
@wgsn-lt: lighten(@wgsn, 50);

@wgsn-grey-md: #a7a9ac;
@wgsn-grey-lt: #e4e5e6;

@insight: #7300a6;
@insight-md: #9d4dc1;
@insight-lt: #f1e5f6;

@fashion: #fe484f;
@fashion-md: #fe7f84;
@fashion-lt: #ffebec;

@li: #ffc430;
@li-md: #ffd66e;
@li-lt: #fff9e8;

@instock: #178fff;
@instock-md: #5db1ff;
@instock-lt: #e7f4ff;

@styletrial: #00b697;
@styletrial-md: #4dccb6;
@styletrial-lt: #e3f7f4;

@mindset: #231f20;
@mindset-lt: #ffffff;

@xlt-grey: #f2f2f2;
@lt-grey: @wgsn-grey-lt;
@md-grey: @wgsn-grey-md;
@dk-grey: #555;
@xdk-grey: #222;

@yellow: #f8bd34;
@red: #da1c24;


// ========================================================================================================================
// Specific to Style Guide

@header-height: 74px;
@sub-header-height: 54px;