.swiper-container {
  width: 100%;
  height: 400px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: @wgsn-lt;
  }

  .swiper-wrapper {
    height: 100%;
    
    .swiper-slide {
      .swiper-slide--img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 35%;
        .transition;

        img {
          width: 100%;
          display: block;
          opacity: 0;
          transition-delay: 300ms;
          .transition;
        }
      }

      .swiper-slide--text {
        .block-ver-md;
        .block-hor-lg;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 65%;

        .swiper-slide--category,
        .swiper-slide--title,
        .swiper-slide--info {
          .transition;
          opacity: 0;
          transform: translate(40px, 0);
        }

        .swiper-slide--category {
          .wgsn-font;
          font-size: 1.6em;
          .text-uppercase;
          color: @wgsn;
          transition-delay: 500ms;
        }

        .swiper-slide--title {
          margin-top: 0;
          transition-delay: 400ms;
        }
        
        .swiper-slide--info {
          transition-delay: 600ms;

          span {
            .wgsn-font;
            .text-grey;
            font-size: 1.6em;
          }
        }
      }

      &.swiper-slide-active {
        .swiper-slide--img img,
        .swiper-slide--category,
        .swiper-slide--title,
        .swiper-slide--info {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    .flex-center;
    .transition;
    position: absolute;
    top: auto;
    left: auto;
    bottom: 10px;
    background: @wgsn-md;
    color: white;
    width: 40px;
    height: 30px;

    &:hover {
      background: @wgsn;
    }
  }

  .swiper-button-prev {
    right: 51px;
  }
  
  .swiper-button-next {
    right: 10px;
  }
}


// ========================================================================================================================
// Product Colors

body.product-insight {
  .swiper-container:before {
    background: @insight-lt;
  }

  .swiper-container .swiper-slide .swiper-slide--text .swiper-slide--category {
    color: @insight;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: @insight-md;

    &:hover {
      background: @insight;
    }
  }
}

body.product-fashion {
  .swiper-container:before {
    background: @fashion-lt;
  }

  .swiper-container .swiper-slide .swiper-slide--text .swiper-slide--category {
    color: @fashion;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: @fashion-md;

    &:hover {
      background: @fashion;
    }
  }
}

body.product-li {
  .swiper-container:before {
    background: @li-lt;
  }

  .swiper-container .swiper-slide .swiper-slide--text .swiper-slide--category {
    color: @li;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: @li-md;

    &:hover {
      background: @li;
    }
  }
}

body.product-instock {
  .swiper-container:before {
    background: @instock-lt;
  }

  .swiper-container .swiper-slide .swiper-slide--text .swiper-slide--category {
    color: @instock;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: @instock-md;

    &:hover {
      background: @instock;
    }
  }
}

body.product-styletrial {
  .swiper-container:before {
    background: @styletrial-lt;
  }

  .swiper-container .swiper-slide .swiper-slide--text .swiper-slide--category {
    color: @styletrial;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: @styletrial-md;

    &:hover {
      background: @styletrial;
    }
  }
}