// ====================
// Content Tile
// ====================
.content-tile,
.content-tile--small {
  display: block;
  .transition;

  * {
    .transition;
  }
  
  .content-tile--img {
    overflow: hidden;
    
    img {
      display: block;
      width: 100%;
      transform: translate3d(0, 0, 0) scale(1, 1);
      transition: all 600ms;
    }
  }

  .content-tile--text {
    margin: 15px 0 30px;

    .content-tile--category {
      .list-bare;
      
      li {
        display: inline-block;
        // .wgsn-font;
        .text-bold;
        .text-uppercase;
        .text-smaller;
        .block-right-sm;
        .tight;
        color: @wgsn;

        body.insight & {
          color: @insight;
        }

        body.fashion & {
          color: @fashion;
        }

        body.li & {
          color: @li;
        }

        body.instock & {
          color: @instock;
        }

        body.styletrial & {
          color: @styletrial;
        }
      }
    }

    .content-tile--title {
      background-image: -webkit-linear-gradient(transparent 92%, @wgsn 0%);
      background-image: -o-linear-gradient(transparent 92%, @wgsn 0%);
      background-image: linear-gradient(transparent 92%, @wgsn 0%);
      background-size: 0 100%;
      background-repeat: no-repeat;
      display: inline;
      line-height: 1.4em;
      margin-top: 0;

      body.insight & {
        background-image: -webkit-linear-gradient(transparent 92%, @insight 0%);
        background-image: -o-linear-gradient(transparent 92%, @insight 0%);
        background-image: linear-gradient(transparent 92%, @insight 0%);
      }

      body.fashion & {
        background-image: -webkit-linear-gradient(transparent 92%, @fashion 0%);
        background-image: -o-linear-gradient(transparent 92%, @fashion 0%);
        background-image: linear-gradient(transparent 92%, @fashion 0%);
      }

      body.li & {
        background-image: -webkit-linear-gradient(transparent 92%, @li 0%);
        background-image: -o-linear-gradient(transparent 92%, @li 0%);
        background-image: linear-gradient(transparent 92%, @li 0%);
      }

      body.instock & {
        background-image: -webkit-linear-gradient(transparent 92%, @instock 0%);
        background-image: -o-linear-gradient(transparent 92%, @instock 0%);
        background-image: linear-gradient(transparent 92%, @instock 0%);
      }

      body.styletrial & {
        background-image: -webkit-linear-gradient(transparent 92%, @styletrial 0%);
        background-image: -o-linear-gradient(transparent 92%, @styletrial 0%);
        background-image: linear-gradient(transparent 92%, @styletrial 0%);
      }
    }
    
    .content-tile--info,
    .content-tile--info span {
      // .wgsn-font;
      // .text-bold;
      .text-grey;
    }
  }

  &:hover {
    .content-tile--img {
      img {
        transform: translate3d(0, 0, 0) scale(1.05, 1.05);
      }
    }

    .content-tile--title {
      background-size: 100% 100%;
    }
  }
}


// ====================
// Featured Content Tile
// ====================
.content-tile--featured {
  display: block;
  position: relative;
  .transition;

  .content-tile--img {
    overflow: hidden;
    z-index: 5;
    width: calc(~"100% - 20px");
    
    img {
      display: block;
      width: 100%;
      transform: translate3d(0, 0, 0) scale(1, 1);
      transition: all 600ms;
    }
  }

  .content-tile--category {
    .list-bare;
      .block-hor-sm;
      .block-ver-xs;
      position: absolute;
      top: 10px;
      left: -5px;
      background: @wgsn;

      body.insight & {
        background: @insight;
      }

      body.fashion & {
        background: @fashion;
      }

      body.li & {
        background: @li;
      }

      body.instock & {
        background: @instock;
      }

      body.styletrial & {
        background: @styletrial;
      }

    li {
      // .wgsn-font;
      .text-bold;
      .text-white;
      .text-uppercase;
      .text-smaller;
      .tight;
    }
  }

  .content-tile--text {
    .bg-white;
    .block-md;
    .transition;
    width: calc(~"100% - 30px");
    margin: -50px 0 20px 30px;
    z-index: 10;
    position: relative;
    border-bottom: 2px solid @wgsn;
    box-shadow: 0 2px 14px fade(black, 0%);

    body.insight & {
      border-color: @insight;
    }

    body.fashion & {
      border-color: @fashion;
    }

    body.li & {
      border-color: @li;
    }

    body.instock & {
      border-color: @instock;
    }

    body.styletrial & {
      border-color: @styletrial;
    }

    .content-tile--title {
      margin-top: 0;
    }

    .content-tile--info span {
      // .wgsn-font;
      // .text-bold;
      .text-grey;
    }
  }

  &:hover {
    .content-tile--img {
      img {
        transform: translate3d(0, 0, 0) scale(1.1, 1.1);
      }
    }

    .content-tile--text {
      box-shadow: 0 2px 20px fade(black, 10%);
    }
  }
}


// ====================
// Small Content Tile
// ====================
.content-tile--small {
  display: block;
  .transition;
  overflow: auto;
  .block-bot-md;

  .content-tile--img {
    float: left;
    width: 100px;
    height: 100px;
  }

  .content-tile--text {
    float: left;
    padding: 0 0 0 15px;
    width: calc(~"100% - 100px");
    margin: 0;
  }

  &:hover {
    .content-tile--img {
      img {
        transform: translate3d(0, 0, 0) scale(1.05, 1.05);
      }
    }
  }
}


// ====================
// Video Content Tile
// ====================
.content-tile--video {
  .content-tile--img {
    padding-bottom: 60%;
    position: relative;

    // maintain rectangular aspect ratio with square asset
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }

    .content-tile--length {
      position: absolute;
      bottom: 0;
      right: 0;
      .block-ver-xs;
      .block-hor-sm;
      .tight;
      background: fade(black, 80%);
      color: white;
      .text-smaller;
    }
  }
}