.loading-indicator {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
  border: 4px solid fade(@wgsn, 40%);
  border-top: 4px solid @wgsn;
  border-radius: 50%;
  animation: spCircRot 1s infinite linear;

  &.loading-indicator-sm {
    width: 16px;
    height: 16px;
    margin: 0;
    border-width: 2px;
  }
}

@-webkit-keyframes spCircRot {
  from {
    transform: rotate(0deg)
  } to {
    transform: rotate(359deg)
  }
}

@keyframes spCircRot {
  from {
    transform: rotate(0deg)
  } to {
    transform: rotate(359deg)
  }
}


// ========================================================================================================================
// Product Colors

body.product-insight {
  .loading-indicator {
    border-color: fade(@insight, 40%);
    border-top-color: @insight;
  }
}

body.product-fashion {
  .loading-indicator {
    border-color: fade(@fashion, 40%);
    border-top-color: @fashion;
  }
}

body.product-li {
  .loading-indicator {
    border-color: fade(@li, 40%);
    border-top-color: @li;
  }
}

body.product-instock {
  .loading-indicator {
    border-color: fade(@instock, 40%);
    border-top-color: @instock;
  }
}

body.product-styletrial {
  .loading-indicator {
    border-color: fade(@styletrial, 40%);
    border-top-color: @styletrial;
  }
}
