// core
@import "vars"
@import "mixins"
@import "typography"
@import "blocks"
@import "grid"
@import "common-styles"

// components
@import "logo"
@import "header"
@import "masthead"
@import "cards"
@import "code-blocks"
@import "alert"
@import "aside"

@import "product-card"
@import "font-card"

// style guide
@import "style-guide"

@import "layout"

@import "buttons"
@import "inputs"
@import "avatars"

// ==============================

*
  box-sizing: border-box

html
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  background: $xlt-grey
  color: $dk-grey
  font-size: 14px

#content
  margin-top: 76px

.content-wrap
  width: 90%
  max-width: 1000px
  margin: 0 auto

section
  @extend .clearfix
  @extend .block-ver-lg

hr
  outline: none
  border: none
  background: $lt-grey
  height: 1px