// core
@import "vars"
@import "mixins"
@import "typography"
@import "blocks"
@import "grid"

// components
@import "masthead"
@import "common-styles"
@import "cards"
@import "card-colors"
@import "header"
@import "buttons"
@import "alert"
@import "logo"

// style guide
@import "style-guide"

// ==============================

*
  box-sizing: border-box

html
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  background: $xlt-grey
  color: $dk-grey

#content
  margin-top: 82px

.content-wrap
  width: 90%
  max-width: 1000px
  margin: 0 auto

section
  @extend .clearfix
  @extend .block-ver-lg

hr
  outline: none
  border: none
  background: $lt-grey
  height: 1px