.page-title {
  margin: 40px auto -14px;
  
  h1 {
    display: inline-block;
    margin-bottom: 0;
  }

  h2 {
    display: inline-block;
    color: @wgsn-md;
    margin-left: 20px;
    margin-bottom: 0;
  }
}


// ========================================================================================================================
// Product Colors

// INSIGHT
body.product-insight {
  .page-title h2 {
    color: @insight-md;
  }
}

// FASHION
body.product-fashion {
  .page-title h2 {
    color: @fashion-md;
  }
}

// L&I
body.product-li {
  .page-title h2 {
    color: @li-md;
  }
}

// INSTOCK
body.product-instock {
  .page-title h2 {
    color: @instock-md;
  }
}

// STYLETRIAL
body.product-styletrial {
  .page-title h2 {
    color: @styletrial-md;
  }
}

