.sidebar-menu {
  position: relative;
  .bg-xlt-grey;
  .block-hor-sm;
  .block-top-md;
  height: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 1000px;
    height: 100%;
    .bg-xlt-grey;
    z-index: -1;
  }

  h4:not(:first-child) {
    margin-top: 30px;
  }

  h4, li {
    margin-left: -20px;
    
    a {
      .header-highlight;

      &:before {
        background: fade(@wgsn-grey-md, 30%);
        transform: scale(0, 1);
        transform-origin: left center;
        .transition;
      }

      &:hover {
        &:before {
          transform: scale(1, 1);
        }
      }
    }

    &.sidebar-menu--active {
      a:before {
        background: fade(@wgsn, 30%);
        transform: scale(1, 1);
      }
    }
  }

  ul {
    .list-bare;
  }
}


// ========================================================================================================================
// Product Colors

// INSIGHT
body.product-insight {
  .sidebar-menu {
    h4 a:before, li a:before {
      background: fade(@wgsn-grey-md, 30%);
    }

    .sidebar-menu--active a:before {
      background: fade(@insight, 30%);
    }
  }
}

// FASHION
body.product-fashion {
  .sidebar-menu {
    h4 a:before, li a:before {
      background: fade(@wgsn-grey-md, 30%);
    }

    .sidebar-menu--active a:before {
      background: fade(@fashion, 30%);
    }
  }
}

// LI
body.product-li {
  .sidebar-menu {
    h4 a:before, li a:before {
      background: fade(@wgsn-grey-md, 30%);
    }

    .sidebar-menu--active a:before {
      background: fade(@li, 30%);
    }
  }
}

// INSTOCK
body.product-instock {
  .sidebar-menu {
    h4 a:before, li a:before {
      background: fade(@wgsn-grey-md, 30%);
    }

    .sidebar-menu--active a:before {
      background: fade(@instock, 30%);
    }
  }
}

// STYLETRIAL
body.product-styletrial {
  .sidebar-menu {
    h4 a:before, li a:before {
      background: fade(@wgsn-grey-md, 30%);
    }

    .sidebar-menu--active a:before {
      background: fade(@styletrial, 30%);
    }
  }
}


// specific to the style guide
body.style-guide {
  .sidebar-menu.sticky {
    .block-top-lg;
  }
}