.table {
  .sans-serif;
  .text-left;
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      border-bottom: 1px solid @dk-grey;
      padding: 12px 5px;
      .wgsn-font;
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid @lt-grey;
        padding: 12px 5px;
        .text-normal;
        .transition;
      }
    }
  }

  &.table--alternating {
    tbody {
      tr:nth-of-type(even) {
        td {
          background: fade(@xlt-grey, 50%);
        }
      }
    }
  }

  &.table--selectable {
    tbody {
      cursor: pointer;
      
      tr.table--selected {
        td {
          background: fade(@wgsn, 10%);
        }
      

        &:hover {
          td {
            background: fade(@wgsn, 15%);
          }
        }
      }

      tr:hover {
        td {
          background: fade(@wgsn, 5%);
        }
      }
    }
  }
}


// ========================================================================================================================
// Product Colors

body.product-insight {
  table.table.table-selectable {
    tbody {
      tr.table-selected td {
        background: fade(@insight, 10%);
      }

      tr.table-selected :hover td {
        background: fade(@insight, 15%);
      }

      tr:hover td {
        background: fade(@insight, 5%);
      }
    }
  }
}

body.product-fashion {
  table.table.table-selectable {
    tbody {
      tr.table-selected td {
        background: fade(@fashion, 10%);
      }

      tr.table-selected :hover td {
        background: fade(@fashion, 15%);
      }

      tr:hover td {
        background: fade(@fashion, 5%);
      }
    }
  }
}

body.product-li {
  table.table.table-selectable {
    tbody {
      tr.table-selected td {
        background: fade(@li, 10%);
      }

      tr.table-selected :hover td {
        background: fade(@li, 15%);
      }

      tr:hover td {
        background: fade(@li, 5%);
      }
    }
  }
}

body.product-instock {
  table.table.table-selectable {
    tbody {
      tr.table-selected td {
        background: fade(@instock, 10%);
      }

      tr.table-selected :hover td {
        background: fade(@instock, 15%);
      }

      tr:hover td {
        background: fade(@instock, 5%);
      }
    }
  }
}

body.product-styletrial {
  table.table.table-selectable {
    tbody {
      tr.table-selected td {
        background: fade(@styletrial, 10%);
      }

      tr.table-selected :hover td {
        background: fade(@styletrial, 15%);
      }

      tr:hover td {
        background: fade(@styletrial, 5%);
      }
    }
  }
}

