.table {
  .sans-serif;
  .text-left;
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      border-bottom: 1px solid @dk-grey;
      padding: 12px 5px;
      .text-bold;
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid @lt-grey;
        padding: 12px 5px;
        .text-normal;
        .transition;
      }
    }
  }

  &.table--alternating {
    tbody {
      tr:nth-of-type(even) {
        td {
          background: fade(@xlt-grey, 50%);
        }
      }
    }
  }

  &.table--selectable {
    tbody {
      cursor: pointer;
      
      tr.table--selected {
        td {
          background: fade(@wgsn, 10%);

          body.insight & {
            background: fade(@insight, 10%);
          }

          body.fashion & {
            background: fade(@fashion, 10%);
          }

          body.li & {
            background: fade(@li, 10%);
          }

          body.instock & {
            background: fade(@instock, 10%);
          }

          body.styletrial & {
            background: fade(@styletrial, 10%);
          }
        }

        &:hover {
          td {
            background: fade(@wgsn, 15%);

            body.insight & {
              background: fade(@insight, 15%);
            }

            body.fashion & {
              background: fade(@fashion, 15%);
            }

            body.li & {
              background: fade(@li, 15%);
            }

            body.instock & {
              background: fade(@instock, 15%);
            }

            body.styletrial & {
              background: fade(@styletrial, 15%);
            }
          }
        }
      }

      tr:hover {
        td {
          background: fade(@wgsn, 5%);

          body.insight & {
            background: fade(@insight, 5%);
          }

          body.fashion & {
            background: fade(@fashion, 5%);
          }

          body.li & {
            background: fade(@li, 5%);
          }

          body.instock & {
            background: fade(@instock, 5%);
          }

          body.styletrial & {
            background: fade(@styletrial, 5%);
          }
        }
      }
    }
  }
}