.token {
  background: @xlt-grey;
  &:extend(.pull-left);
  &:extend(.block-ver-xs);
  padding-left: 7px;
  padding-right: 7px;
  margin: 0 5px 5px 0;

  .avatar,
  span,
  .icon {
    &:extend(.pull-left);
  }

  span {
    &:extend(.block-right-sm);
    &:extend(.inline-block);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: -1px;
      background: white;
      width: 1px;
      height: 100%;
    }
  }

  .icon-cross {
    padding: 0 7px;
    margin-left: 7px;
    color: @md-grey;
    &:extend(.hoverable);
    &:extend(.transition);

    &:hover {
      color: @dk-grey;
    }
  }
}
