section#section-alerts
  h2.inline-block Alerts
  +github-link("alerts")

  p Alerts are used to inform a user of an action they just completed, sometimes with an undo option. They are in a fixed position in the bottom left of the screen, and disappear after a few seconds.

  .card
    .alert.show
      p Code copied to clipboard.

    br

    .alert.show
      p You moved 6 images into 
        span Autumn/Winter 2016
        | .

      a.alert--undo(href="") Undo

  include:marked alerts.md