section#section-avatars
  h2.inline-block Avatars
  +github-link("avatars")

  p Avatars come in five sizes.
  ul
    li xs (16px)
    li sm (24px)
    li md (32px, default)
    li lg (48px)
    li xl (64px)
  p A 
    code background-image
    |  should be included inline.
  
  .card
    .avatar.avatar-xs(style="background-image: url('https://media.licdn.com/media/p/1/005/06d/1ea/349ef69.jpg')")
    .avatar.avatar-sm(style="background-image: url('https://media.licdn.com/media/AAEAAQAAAAAAAAZVAAAAJDBlZWUwZWE0LTk1OWYtNGMyYi1iYmU5LTA3NDNlNDYxZmYwMQ.jpg')")
    .avatar.avatar-md(style="background-image: url('https://media.licdn.com/media/p/7/005/05b/332/0aa54b4.jpg')")
    .avatar.avatar-lg(style="background-image: url('https://media.licdn.com/media/AAEAAQAAAAAAAAT6AAAAJGZiMmIwM2E3LTMzNzMtNDEzNi1iN2JhLWJlZmYzM2MwNmI2Nw.jpg')")
    .avatar.avatar-xl(style="background-image: url('https://media.licdn.com/media/p/7/005/05b/332/0aa54b4.jpg')")
  
  include:marked avatars-1.md

  p Users without profile images have their initials as avatars. If you're not including a 
    code background-image
    | , you need to include 
    code data-initials
    | .

  .card
    .avatar.avatar-xs(data-initials="AH")
    .avatar.avatar-sm(data-initials="SC")
    .avatar.avatar-md(data-initials="NA")
    .avatar.avatar-lg(data-initials="JR")
    .avatar.avatar-xl(data-initials="AL")

  include:marked avatars-2.md