section#section-buttons
  h2.inline-block Buttons
  +github-link("buttons")

  p Buttons come in four styles. 
  ul
    li Coloured (primary)
    li Black
    li White
    li Clear
  p Buttons 
    strong must 
    | use a modifier class to select a button colour. 
    code .btn--coloured
    |  will take on the product's 
    a.styled(href='/') colour
    |  when 
    code body
    |  has a product class, such as 
    code .fashion
    | , which it should always have.

  .card
    .block-bot-sm.overflow-auto
      button.btn--coloured.pull-left Coloured Button
      button.btn--black.pull-left Black Button
      button.btn--white.pull-left White Button
      
    .block-bot-md.overflow-auto
      .bg-dk-grey.block-sm.inline-block
        button.btn--clear.tight Clear Button
    
    .block-bot-sm.overflow-auto
      button.btn--coloured.btn--disabled.pull-left(disabled) Disabled Button
      button.btn--coloured.pull-left
        i.icon.icon-reset
        | Button with Icon
    
    .block-bot-sm.overflow-auto
      button.btn--coloured.btn--full.pull-left Full-Width Button
    
    .block-bot-sm.overflow-auto
      button.btn--coloured.btn--lg.pull-left Large Button
      button.btn--coloured.btn--sm.pull-left Small Button
    
    .overflow-auto
      button.btn--white.btn--big.btn--full.pull-left Big, White, Full-Width Button
  
  include:marked buttons.md

  aside
    h3 Disabling buttons
    p.tight
      | Note that buttons disabled via the 
      code .btn-disabled
      |  class are only visually disabled. You should always opt to disable buttons via the 
      code disabled
      |  attribute to ensure they are functionally disabled.