section#section-buttons
  h2.inline-block Buttons
  +github-link("buttons")

  p Buttons come in four styles. 
  ul
    li Coloured (primary)
    li Black
    li White
    li Clear
  p Buttons 
    strong must 
    | use a modifier class to select a button colour. 
    code .btn--coloured
    |  will take on the product's 
    a.styled(href='/') colour
    |  when 
    code body
    |  has a product class, such as 
    code .fashion
    | , which it should always have.

  .card
    .block-bot-sm
      button.btn--coloured Coloured Button
      button.btn--black Black Button
      button.btn--white White Button
      .bg-dk-grey.block-xs.inline-block: button.btn--clear.tight Clear Button
    
    .block-bot-sm
      button.btn--coloured.btn--disabled(disabled) Disabled Button
    
    .block-bot-sm
      button.btn--coloured.btn--full Full-Width Button
    
    .block-bot-sm
      button.btn--coloured.btn--lg Large Button
      button.btn--coloured.btn--sm Small Button
    
    .block
      button.btn--white.btn--big.btn--full Big, White, Full-Width Button
  
  include:marked buttons.md

  aside
    h3 Disabling buttons
    p.tight
      | Note that buttons disabled via the 
      code .btn-disabled
      |  class are only visually disabled. You should always opt to disable buttons via the 
      code .disabled
      |  attribute to ensure they are functionally disabled.