.block-ver-md#section-buttons
  h2.inline-block Buttons
  a.text-underline.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_buttons.sass" target="_blank") View on Github

  p Buttons come in four styles. 
  ul
    li Coloured (primary)
    li Black
    li White
    li Clear
  p Buttons 
    strong must 
    | use a modifier class to select a button colour. 
    code .btn-coloured
    |  will take on the product's 
    a.styled(href='/') colour
    |  when 
    code body
    |  has a product class, such as 
    code .product-fashion
    | , which it should always have.

  .card
    .block-bot-md
      button.btn-coloured Coloured button
      button.btn-black Black button
      button.btn-white White button
      .bg-dk-grey.block-xs.inline-block: button.btn-clear.tight Clear button
    
    .block-bot-md
      button.btn-coloured.btn-disabled(disabled) A disabled button
    
    .block-bot-md
      button.btn-coloured.btn-full A full-width button
    
    .block-bot-md
      button.btn-coloured.btn-lg A large button
      button.btn-coloured.btn-sm A small button
    
    .block
      button.btn-white.btn-big.btn-full A big, white, full-width button
  
  include:markdown buttons.md

  aside
    h3 Disabling buttons
    p.tight
      | Note that buttons disabled via the 
      code .btn-disabled
      |  class are only visually disabled. You should always opt to disable buttons via the 
      code .disabled
      |  attribute to ensure they are functionally disabled.