section#section-cards
  h2.inline-block Cards
  +github-link("cards")
  
  p Cards are used to display and contain all sorts of content.
  
  .card
    .row
      .col-xs-12.col-sm-6
        .card
          h4 This is a card
          p.tight Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .col-xs-12.col-sm-6
        .card.img-card.tight
          .img-container(style="background-image: url('https://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65440/featured.jpg')")
          .text-container
            h4 This is a card with an image
            p.tight Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  include:marked cards.md