include ../../partials/github-link

mixin carousel-slide(img, category, title, date, author)
  .swiper-slide(style="background-image: url(" + img + ");")
    .swiper-slide--text
      p.swiper-slide--category= category
      h2.swiper-slide--title= title
      p.swiper-slide--info
        span= date
        if date && author
          span &nbsp;&nbsp;/&nbsp;&nbsp;By 
        span= author

section#section-carousel
  h2.inline-block Carousel
  +github-link("carousel")

  p The carousel is used at the top of listing pages to draw the user's attention to a selection of reports. 
  p It will take on the product's 
    a.styled(href='/product-colors') colour
    |  when 
    code body
    |  has a product class, such as 
    code .fashion
    | , which it should always have.
  
  .card
    .swiper-container
      .swiper-wrapper
        +carousel-slide("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67398/thumb.jpg", "Retail", "New Look A/W 16/17 – Womenswear", "03.08.16", "Faye Howard")
        +carousel-slide("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/66680/thumb.jpg", "Trend Forecast", "Women's Forecast S/S 18: Slow Futures", "01.08.16", "Robbie Sinclair, Jane Boddy, Laura Yiannakou")
        +carousel-slide("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67015/thumb.jpg", "Trade Shows", "Berlin Trade Shows S/S 17 – Premium", "08.07.16", "Laura Yiannakou")
        +carousel-slide("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67227/thumb.jpg", "Future Trends", "Prints & Graphics Women S/S 18: Silent Shapes – Slow Futures", "04.06.16", "Hannah Watkins")
        +carousel-slide("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67589/thumb.jpg", "Visual Merchandising", "S/S 17 Menswear & A/W 16/17 Couture Catwalk Sets", "08.08.16", "Claire Dickinson")
        +carousel-slide("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67601/thumb.jpg", "Knitwear", "The Sporty Crop-Top", "09.08.16", "Laura Yiannakou")

      .swiper-button-prev: svg.icon: use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/wgsn-icons.svg#arrows-arrow-left")
      .swiper-button-next: svg.icon: use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/wgsn-icons.svg#arrows-arrow-right")
  
  include:marked carousel.md