section#section-carousel
  h2.inline-block Carousel
  a.styled.text-smaller(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_carousel.sass" target="_blank") View on Github

  p Lorem ipsum
  
  .card
    h2 E.g.
  
  include:markdown carousel.md