include ../../partials/github-link

section#section-comments
  h2.inline-block Comments
  +github-link("comments")
  
  p Comments are for users to comment on things. Shocker.
  
  .card
    .row
      .col-xs-12
        .comment
          .comment--user
            .avatar(style="background-image: url('https://media.licdn.com/media/p/7/005/05b/332/0aa54b4.jpg')")
            p.comment--name Amelia Lewis
          p.comment--message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          p.comment--date 03/04/2016 at 9:37am

        .comment
          .comment--user
            .avatar(style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAT6AAAAJGZiMmIwM2E3LTMzNzMtNDEzNi1iN2JhLWJlZmYzM2MwNmI2Nw.jpg')")
            p.comment--name Julian Ramirez
          p.comment--message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          p.comment--date 10 minutes ago

  include:marked comments.md