.block-ver-md#section-comments
  h2.inline-block Comments
  a.underlined.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_comments.sass" target="_blank") View on Github
  
  p Comments are for users to comment on things. Yep.
  
  .card
    .row
      .col-xs-12
        .comment
          .block-bot-sm.overflow-auto
            .avatar.pull-left(style="background-image: url('https://media.licdn.com/media/p/7/005/05b/332/0aa54b4.jpg')")
            p.text-bold.pull-left.block-top-xs Amelia Lewis
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          p.tight.text-grey.text-smaller 10 minutes ago

        .comment
          .block-bot-sm.overflow-auto
            .avatar.pull-left(style="background-image: url('https://media.licdn.com/media/p/7/005/05b/332/0aa54b4.jpg')")
            p.text-bold.pull-left.block-top-xs Amelia Lewis
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          p.tight.text-grey.text-smaller 10 minutes ago

  include:markdown comments.md