extends ../../layout

block append vars
  - bodyclass = 'style-guide-ui-elements'

block content
  include ../../partials/style-guide-sub-nav
  
  section.block-top-xl
    .row
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="#section-avatars") Avatars
          li: a(href="#section-banners") Banners
          li: a(href="#section-buttons") Buttons
          li: a(href="#section-badges") Badges
          li: a(href="#section-cards") Cards
          li: a(href="#section-inputs") Inputs
          li: a(href="#section-loading-indicator") Loading indicator
          li: a(href="#section-modals") Modals
          li: a(href="#section-tab-nav") Tab nav
          li: a(href="#section-tables") Tables
          li: a(href="#section-tokens") Tokens
          li: a(href="#section-tooltips") Tooltips

      .col-xs-12.col-sm-9

        .block-bot-lg
          aside
            h3 To add:
            ul
              li Comments

        //- =======================================================
        
        include avatars
        hr

        //- =======================================================

        .block-ver-md#section-banners
          h2.inline-block Banners
          a.underlined.text-grey.text-smaller.inline-block(href="") View on Github
          
          .card: p Lorem ipsum

        hr
        
        //- =======================================================

        include buttons
        hr

        //- =======================================================

        .block-ver-md#section-badges
          h2.inline-block Badges
          a.underlined.text-grey.text-smaller.inline-block(href="") View on Github
          
          .card: p Lorem ipsum

        hr

        //- =======================================================

        include cards
        hr

        //- =======================================================

        include inputs
        hr

        //- =======================================================

        include loading-indicator
        hr

        //- =======================================================

        include modals
        hr

        //- =======================================================

        include tab-nav
        hr

        //- =======================================================

        include tables
        hr

        //- =======================================================

        include tokens
        hr

        //- =======================================================

        include tooltips