extends ../../layout

block append vars
  - bodyclass = 'style-guide-ui-elements'

block content
  include ../../partials/style-guide-sub-nav
  
  section.block-top-xl
    .row
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="#section-avatars") Avatars
          li: a(href="#section-buttons") Buttons
          li: a(href="#section-cards") Cards
          li: a(href="#section-comments") Comments
          li: a(href="#section-inputs") Inputs
          li: a(href="#section-loading-indicator") Loading indicator
          li: a(href="#section-modals") Modals
          li: a(href="#section-tab-nav") Tab nav
          li: a(href="#section-tables") Tables
          li: a(href="#section-tokens") Tokens
          li: a(href="#section-tooltips") Tooltips

      .col-xs-12.col-sm-9

        .block-bot-lg
          aside
            h3 On the to-do list...
            ul
              li File type cards (reports, images, etc.)
              li Alerts
              li Banners
              li Badges

        //- =======================================================
        
        include avatars
        hr
        
        //- =======================================================

        include buttons
        hr

        //- =======================================================

        include cards
        hr

        //- =======================================================

        include comments
        hr

        //- =======================================================

        include inputs
        hr

        //- =======================================================

        include loading-indicator
        hr

        //- =======================================================

        include modals
        hr

        //- =======================================================

        include tab-nav
        hr

        //- =======================================================

        include tables
        hr

        //- =======================================================

        include tokens
        hr

        //- =======================================================

        include tooltips