extends ../../layout

block append vars
  - bodyclass = 'style-guide style-guide-ui-elements'

block content
  include ../../partials/style-guide-sub-nav
  
  section
    .row
      .col-xs-12.col-sm-3.col-md-2
        .sidebar-menu
          .sticky.block-top-md
            h4.block-top-md Sections
            ul
              li: a(href="#section-alerts") Alerts
              li: a(href="#section-avatars") Avatars
              li: a(href="#section-buttons") Buttons
              li: a(href="#section-cards") Cards
              li: a(href="#section-comments") Comments
              li: a(href="#section-inputs") Inputs
              li: a(href="#section-loading-indicator") Loading indicator
              li: a(href="#section-modals") Modals
              li: a(href="#section-page-title") Page title
              li: a(href="#section-sidebar-menu") Sidebar menu
              li: a(href="#section-tab-nav") Tab nav
              li: a(href="#section-tables") Tables
              li: a(href="#section-tokens") Tokens
              li: a(href="#section-tooltips") Tooltips


      .col-xs-12.col-sm-9.col-md-7
        include alerts
        hr

        //- =======================================================
        
        include avatars
        hr
        
        //- =======================================================

        include buttons
        hr

        //- =======================================================

        include cards
        hr

        //- =======================================================

        include comments
        hr

        //- =======================================================

        include inputs
        hr

        //- =======================================================

        include loading-indicator
        hr

        //- =======================================================

        include modals
        hr

        //- =======================================================

        include page-title
        hr

        //- =======================================================

        include sidebar-menu
        hr

        //- =======================================================

        include tab-nav
        hr

        //- =======================================================

        include tables
        hr

        //- =======================================================

        include tokens
        hr

        //- =======================================================

        include tooltips