extends ../../layout

block append vars
  - bodyclass = 'style-guide-ui-elements'

block content
  .sub-header
    .row
      .col-xs-12.text-right
        include ../../partials/style-guide-sub-nav
  
  section
    .row
      .col-xs-12.col-sm-9
        .block-bot-md#section-banners
          h2.inline-block Banners
          a.underlined.text-grey.text-smaller.inline-block(href="") View on Github
          
          .card: p Lorem ipsum

        hr
        
        //- =======================================================

        include buttons
        hr

        //- =======================================================

        .block-ver-md#section-badges
          h2.inline-block Badges
          a.underlined.text-grey.text-smaller.inline-block(href="") View on Github
          
          .card: p Lorem ipsum

        hr

        //- =======================================================

        include cards
        hr

        //- =======================================================

        include inputs
        hr

        //- =======================================================

        include avatars
        hr

        //- =======================================================

        include modals
        hr

        //- =======================================================

        include tooltips
        hr

        //- =======================================================

        include tokens
        hr
      
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="#banners") Banners
          li: a(href="#buttons") Buttons
          li: a(href="#badges") Badges
          li: a(href="#cards") Cards
          li: a(href="#inputs") Inputs
          li: a(href="#avatars") Avatars
          li: a(href="#modals") Modals
          li: a(href="#title-bubble") Title-bubble
          li: a(href="#tokens") Tokens
          li: a(href="#loading-indicator") Loading-indicator
          li: a(href="#tab-nav") Tab-nav
          li: a(href="#calendar") Calendar
          li: a(href="#tables") Tables