extends ../../layout

block append vars
  - bodyclass = 'style-guide style-guide-ui-elements'

block content
  include ../../partials/style-guide-sub-nav
  
  section
    .row
      .col-xs-12.col-sm-3.col-md-2
        .sidebar-menu
          .sticky
            h4 Sections
            ul
              li: a(href="#section-alerts") Alerts
              li: a(href="#section-avatars") Avatars
              li: a(href="#section-buttons") Buttons
              li: a(href="#section-cards") Cards
              li: a(href="#section-carousel") Carousel
              li: a(href="#section-comments") Comments
              li: a(href="#section-inputs") Inputs
              li: a(href="#section-loading-indicator") Loading indicator
              li: a(href="#section-modals") Modals
              li: a(href="#section-page-title") Page title
              li: a(href="#section-sidebar-menu") Sidebar menu
              li: a(href="#section-tab-nav") Tab nav
              li: a(href="#section-tables") Tables
              li: a(href="#section-tokens") Tokens
              li: a(href="#section-tooltips") Tooltips

      //- =======================================================

      .col-xs-12.col-sm-9.col-md-7.block-top-lg
        include alerts
        .block-ver-lg: hr
        include avatars
        .block-ver-lg: hr
        include buttons
        .block-ver-lg: hr
        include cards
        .block-ver-lg: hr
        include carousel
        .block-ver-lg: hr
        include comments
        .block-ver-lg: hr
        include inputs
        .block-ver-lg: hr
        include loading-indicator
        .block-ver-lg: hr
        include modals
        .block-ver-lg: hr
        include page-title
        .block-ver-lg: hr
        include sidebar-menu
        .block-ver-lg: hr
        include tab-nav
        .block-ver-lg: hr
        include tables
        .block-ver-lg: hr
        include tokens
        .block-ver-lg: hr
        include tooltips