section#section-inputs
  h2.inline-block Inputs &amp; Labels
  +github-link("inputs")

  p Inputs and labels are used in forms... but you knew that.
  p They will take on the product's 
    a.styled(href='/') colour
    |  when 
    code body
    |  has a product class, such as 
    code .fashion
    | , which it should always have.
  
  .card
    form
      .row
        .col-xs-12
          label.label Email address
            input.input.input--text(type='text' value='amelia.lewis@wgsn.com' placeholder='Email')

      .row.block-bot-md
        .col-xs-12
          p Inputs take up the entire width of their parent, so you can and should use them in the grid.

      .row
        .col-xs-12.col-sm-6
          label.label Password
            input.input.input--password(type='password' placeholder='Keep it secret.')

        .col-xs-12.col-sm-6
          label.label Confirm password
            input.input.input--password(type='password' placeholder='Keep it safe.')

      .row.block-bot-md
        .col-xs-12.col-sm-6
          label.label Disabled field
            input.input.input--text.input--disabled(type='text' placeholder='This is disabled.' disabled)

        .col-xs-12.col-sm-6
          label.label Textarea
            textarea.input.input--textarea Edit me, yo.

      .row.block-bot-md
        .col-xs-12.col-sm-4
          label.label First name
            span.input--error-message (Required)
            input.input.input--text.input--has-error(type='text')

        .col-xs-12.col-sm-4
          label.label Last name
            input.input.input--text.input--is-valid(type='text' value='Lewis')

        .col-xs-12.col-sm-4
          label.label.label--dropdown Country
            select.input.input--dropdown
              option United States
              option United Kingdom
              option Australia

      .row
        .col-xs-12.col-sm-4
          form
            label.label.label--checkbox-radio(for="checkbox-1")
              input.input.input--checkbox#checkbox-1(type="checkbox" checked)
              | Checkbox 1

            label.label.label--checkbox-radio(for="checkbox-2")
              input.input.input--checkbox#checkbox-2(type="checkbox")
              | Checkbox 2

            label.label.label--checkbox-radio(for="checkbox-3")
              input.input.input--checkbox#checkbox-3(type="checkbox" disabled)
              | Checkbox 3 (disabled)

            label.label.label--checkbox-radio(for="checkbox-4")
              input.input.input--checkbox#checkbox-4(type="checkbox")
              | Checkbox 4

            label.label.label--checkbox-radio(for="checkbox-5")
              input.input.input--checkbox#checkbox-5(type="checkbox")
              | Checkbox 5

        .col-xs-12.col-sm-4
          form
            label.label.label--checkbox-radio(for="#radio-1")
              input.input.input--radio#radio-1(type="radio" name="radio-example" value="radio-1" checked)
              | Radio 1
            
            label.label.label--checkbox-radio(for="#radio-2")
              input.input.input--radio#radio-2(type="radio" name="radio-example" value="radio-2")
              | Radio 2

            label.label.label--checkbox-radio(for="#radio-3")
              input.input.input--radio#radio-3(type="radio" name="radio-example" value="radio-3" disabled)
              | Radio 3 (disabled)

            label.label.label--checkbox-radio(for="#radio-4")
              input.input.input--radio#radio-4(type="radio" name="radio-example" value="radio-4")
              | Radio 4

            label.label.label--checkbox-radio(for="#radio-5")
              input.input.input--radio#radio-5(type="radio" name="radio-example" value="radio-5")
              | Radio 5

        .col-xs-12.col-sm-4
          .row
            .col-xs-2
              .input--toggle.input--toggle-on
            .col-xs-10
              code .input--toggle

  include:marked inputs.md