.block-ver-md#section-badges
  h2.inline-block Loading Indicator
  a.underlined.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_loading-indicator.sass" target="_blank") View on Github
  
  p The loading indicator component is a simple, center-aligned loading animation. The colour should reflect the product.

  .card
    .loading-indicator

  pre: code // some code