.block-ver-md#section-badges
  h2.inline-block Loading Indicator
  a.underlined.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_loading-indicator.sass" target="_blank") View on Github
  
  p The loading indicator component is a simple, center-aligned loading animation.

  .card
    .loading-indicator

  pre: code // some code

  p The colour of the loading indicator should reflect the product you're using.

  .card
    .loading-indicator.loading-indicator-fashion
    .loading-indicator.loading-indicator-interiors
    .loading-indicator.loading-indicator-instock
    .loading-indicator.loading-indicator-styletrial

  pre: code // some code