include ../../partials/github-link

section#section-loading-indicator
  h2.inline-block Loading Indicator
  +github-link("loading-indicator")
  
  p The loading indicator component is a simple, center-aligned loading animation. The 
    a.styled(href='/product-colors') colour
    |  of the loading indicator will reflect the product you're using when 
    code body
    |  has a product class, such as 
    code .fashion
    | , which it should always have.

  .card
    .loading-indicator

  include:marked loading-indicator-1.md

  p There is also a smaller inline loading indicator, to be used inside elements (as opposed to a whole page or section loading) and wherever else necessary.

  .card
    .loading-indicator.loading-indicator--sm

  include:marked loading-indicator-2.md