section#section-modals
  h2.inline-block Modals
  a.styled.text-smaller(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_modals.sass" target="_blank") View on Github
  
  .card
    .modal.show
      .modal-header
        h4.pull-left.tight Modal Title
        i.icon.icon-cross.pull-right.hoverable.close-modal

      .modal-content
        p This is some content inside the modal.

      .modal-footer.text-right
        .inline-block.block-right-sm: button.btn-white.tight Cancel
        .inline-block: button.btn-black.tight Done

  include:markdown modals.md