section#section-modals
  h2.inline-block Modals
  +github-link("modals")
  
  .card
    .modal.show
      .modal-header
        h4.pull-left.tight Modal Title
        i.icon.icon-cross.pull-right.hoverable.close-modal

      .modal-content
        p This is some content inside the modal.

      .modal-footer.text-right
        .inline-block.block-right-sm: button.btn-white.tight Cancel
        .inline-block: button.btn-black.tight Done

  include:marked modals.md