section#section-modals
  h2.inline-block Modals
  +github-link("modals")
  
  .card
    .modal.show
      .modal--header
        h4.modal--title Modal Title
        i.icon.icon-cross.close-modal

      .modal--content
        p This is some content inside the modal.

      .modal--footer
        button.btn--white Cancel
        button.btn--black Done

  include:marked modals.md