.block-ver-md#section-modals
  h2.inline-block Modals
  a.underlined.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_modals.sass" target="_blank") View on Github
  
  .card
    .modal.show
      .modal-header
        h4.pull-left.tight Modal Title
        i.icon.icon-cross.pull-right.hoverable.close-modal

      .modal-content
        p This is some content inside the modal.

      .modal-footer
        //- p.tight.block-top-xs.hoverable.pull-left.close-modal Cancel
        .btn.btn-white.pull-right.tight.close-modal Done

  pre: code // some code