section#section-page-title
  h2.inline-block Page Title
  a.styled.text-smaller(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_page-title.sass" target="_blank") View on Github

  p The page title styling to be used everywhere across the site.

  .card
    .row.page-title
      .col-xs-12
        h1 Colour
        h2 /Catwalk Analysis

  include:marked page-title.md