section#section-tab-nav
  h2.inline-block Tab Nav
  +github-link("tab-nav")

  p The tab nav component provides a tab-style navigation with active tab states.
  
  .card
    ul.tab-nav
      li.tab-nav-tab.active Fashion
      li.tab-nav-tab Lifestyle &amp; Interiors
      li.tab-nav-tab Instock
      li.tab-nav-tab Styletrial
      li.tab-nav-tab Mindset

  include:marked tab-nav-1.md

  p There is an alternative styling for tab navs, acheived by using the class 
    code .tab-nav-alt
    | .
  
  .card
    ul.tab-nav-alt
      li.tab-nav-tab.active Fashion
      li.tab-nav-tab Lifestyle &amp; Interiors
      li.tab-nav-tab Instock
      li.tab-nav-tab Styletrial
      li.tab-nav-tab Mindset

  include:marked tab-nav-2.md