.block-ver-md#section-tab-nav
  h2.inline-block Tab Nav
  a.text-underline.text-grey.text-smaller.inline-block(href="") View on Github

  p The tab nav component provides a tab-style navigation with active tab states.
  
  .card
    ul.tab-nav
      li.tab-nav-tab.active Fashion
      li.tab-nav-tab Lifestyle &amp; Interiors
      li.tab-nav-tab Instock
      li.tab-nav-tab Styletrial
      li.tab-nav-tab Mindset

  include:markdown tab-nav.md