.block-ver-md#section-tokens
  h2.inline-block Tokens
  a.styled.text-smaller(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_tokens.sass" target="_blank") View on Github

  p Tokens can be used in typeahead input fields to display user identities and emails, or to display filters in the Image Library. In the case of a user identity, the user's avatar is shown.
  
  .card
    .token
      .avatar.avatar-xs(style="background-image: url('https://media.licdn.com/mpr/mpr/shrink_100_100/p/7/005/05b/332/0aa54b4.jpg')")
      span Amelia Lewis
      i.icon.icon-cross

    .token
      span amelia.lewis@wgsn.com
      i.icon.icon-cross

    .token
      span Balmain
      i.icon.icon-cross

  include:markdown tokens.md