include ../../partials/github-link

section#section-tokens
  h2.inline-block Tokens
  +github-link("tokens")

  p Tokens can be used in typeahead input fields to display user identities and emails, or to display filters in the Image Library. In the case of a user identity, the user's avatar is shown.
  
  .card
    .token
      .avatar.avatar--xs(style="background-image: url('https://media.licdn.com/mpr/mpr/shrink_100_100/p/7/005/05b/332/0aa54b4.jpg')")
      span Amelia Lewis
      svg.icon: use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/wgsn-icons.svg#symbol-cross")

    .token
      span amelia.lewis@wgsn.com
      svg.icon: use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/wgsn-icons.svg#symbol-cross")

    .token
      span Balmain
      svg.icon: use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/wgsn-icons.svg#symbol-cross")

  include:marked tokens.md