.block-ver-md#section-tooltips
  h2.inline-block Tooltips
  a.underlined.text-grey.text-smaller.inline-block(href="") View on Github
  
  p Tooltips appear on hover. They are intended for non-vital information about a given element.

  .card
    .block-md.text-center
      p.has-tooltip.tooltip-up Hover me.

    .block-md.text-center
      p.has-tooltip.tooltip-right This one will appear to the right.

    .block-md.text-center
      p.has-tooltip.tooltip-down This one will appear underneath.

    .block-md.text-center
      p.has-tooltip.tooltip-left This one will appear to the left.