extends ../../layout

block append vars
  - bodyclass = 'style-guide style-guide-grid'

block content
  include ../../partials/style-guide-sub-nav
  
  section
    .row
      .col-xs-12
        section
          h2.inline-block Grid
          a.text-underline.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_mixins.sass" target="_blank") View on Github

          p This style guide is based on 
            a.styled(href="http://flexboxgrid.com/" target="_blank") Flexbox Grid
            | . You can read more details and documentation there.

          .card
            .row
              .col-xs-12.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-12
            
            .row
              .col-xs-6.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-6
              .col-xs-6.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-6

            .row
              .col-xs-5.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-5
              .col-xs-2.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-2
              .col-xs-5.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-5

            .row
              .col-xs-4.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-4
              .col-xs-4.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-4
              .col-xs-4.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-4

            .row
              .col-xs-3.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-3
              .col-xs-3.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-3
              .col-xs-3.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-3
              .col-xs-3.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-3

            .row
              .col-xs-2.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-2
              .col-xs-2.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-2
              .col-xs-2.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-2
              .col-xs-2.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-2
              .col-xs-2.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-2
              .col-xs-2.block-bot-md: .block-md.bg-xlt-grey.text-center: code .col-xs-2

            .row
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1
              .col-xs-1: .block-md.bg-xlt-grey.text-center: code .col-xs-1