include ../partials/font-card

extends ../layout

block append vars
  - bodyclass = 'index fonts'

block content
  section
    h1 Graphik.
    
    .row
      .col-xs-12.col-md-8.col-lg-6
        .block-bot-lg
          p.text-larger Graphik is the primary typeface for WGSN. Its main nine diferent weights are used for the diferent voices of the brand. These react diferently within one consistent identity across all services, communication and channels.
    
    .block-bot-lg: hr

    .row
      .col-xs-12.col-sm-6
        +font-card(
          "sans-serif",
          "Graphik",
          "",
          "Graphik is the primary typeface for WGSN. Its main nine different weights are used for the different voices of the brand. These react differently within one consistent identity across all services, communication and channels.",
          "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
          "abcdefghijklmnopqrstuvwxyz",
          "1234567980")
      
      .col-xs-12.col-sm-6
        +font-card(
          "serif",
          "Caslon 224",
          "",
          "Caslon is the brand’s secondary font specifcally meant for Mindset services and C-Level targeting. Although the font consists of four different weights, Caslon Book will be the main and most used.",
          "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
          "abcdefghijklmnopqrstuvwxyz",
          "1234567980")