extends layout

block append vars
  - bodyclass = 'index home'

block content
  section
    .row
      .col-xs-12.col-md-8
        h1 Tomorrow starts today
        p.text-larger We know what’s now, and what to expect next. We help creative thinkers to shape the future of their businesses. And, deliver everything they need, to create tomorrow.
        p.text-larger.block-bot-md That tomorrow starts today with a new identity that expresses what we have always been... The world’s premier trend authority.
    .row
      .col-xs-12
        p We have built a layered identity that allows us to address all needs, for all products, audiences, and markets. A system that works with all of our products, bringing cohesion and flexibility. WGSN stands for curiosity, imagination, and insight and we exude a natural, thought-provoking confidence.
        p We know what’s next. Guiding our clients through the blur, to a clear forecast of the future. We are present everywhere, on multiple platforms, with multiple languages, and multiple locations.
        p Together we can create tomorrow.

  hr
  
  section
    .row
      .col-xs-12
        h2 Brand Story

    .row
      .col-xs-12.col-md
        p WGSN is the world’s premier trend authority for creative thinkers to shape the future of their business.
        p With experts situated in over 14 countries, we build locally sourced, globally insightful forecasts.
        p We know what’s now, and what to expect next.

      .col-xs-12.col-md
        p Founded in 1998 in West London, WGSN disrupted the market with a pioneering online trend library.
        p We were the first to use high-end technology and human ingenuity to extrapolate useful insights from global trends. Our suite of products and services have continued to grow ever since - now including everything from trend reports, to retail analytics and design validation.

      .col-xs-12.col-md
        p Around 90% of our clients continually renew each year. For them, and their customers, we are constantly developing innovative products and services.
        p These are the tools that help creative industries get better at what they do by providing everything they need to know to create tomorrow.

  hr
  
  section
    .row
      .col-xs-12
        h2 Tone of Voice
        h4 How we behave and express ourselves as a brand.

    .row
      .col-xs-12.col-md
        h5 1 Inquisitive
        p We are curious about the world, the future and the past, our clients and their customers. We constantly wonder and want to know more. It is this curiosity that drives us every day.
        p That’s why we ask questions and provoke thoughts.

      .col-xs-12.col-md  
        h5 2 Insightful
        p We are alert and intelligent observers who can spot patterns and trends, translating what we see around us into useful insights. We make unexpected connections and put things in context.
        p That’s why we offer insights and inspiration.

      .col-xs-12.col-md
        h5 3 Contemporary
        p We are well-informed, well- connected, in the know, and always ahead. We live in the now, the new and the next.
        p That’s why our behaviour is fresh and relevant.

      .col-xs-12.col-md
        h5 4 Authoritative
        p We are the global leader with a huge track record. We have proven ourselves credible and reliable. We are confident and know what we are talking about.
        p That’s why we’re at ease and confident. Completely natural and e ortless.

      .col-xs-12.col-md
        h5 5 Extensive
        p We embrace all editors, clients, cultures and partners within our brand. We collaborate with thousands of people and organisations around the world.
        p That’s why we speak in a variety of styles and voices.