include partials/card

.block-lg
  #intro-view.display-box
    .intro-content.text-center
      .intro-logo: include partials/logo
      .block-top-md: p.text-italic.tight Color Guide

  #content-view
    .grid.grid-pad
      +card("WGSN Group", "282c", "4, 30, 66", "041e42")(class="wgsn-group")
      +card("Fashion", "282c", "4, 30, 66", "041e42")(class="fashion")
      +card("Lifestyle & Interiors", "282c", "4, 30, 66", "041e42")(class="interiors")
      +card("INstock", "282c", "4, 30, 66", "041e42")(class="instock")
      +card("Styletrial", "282c", "4, 30, 66", "041e42")(class="styletrial")
      +card("Mindset", "282c", "4, 30, 66", "041e42")(class="mindset")
      //- +card("Lifestyle", "282c", "4, 30, 66", "041e42")(class="lifestyle")
      //- +card("Intelligence", "282c", "4, 30, 66", "041e42")(class="intelligence")
      //- +card("Thinktank", "282c", "4, 30, 66", "041e42")(class="thinktank")
      //- +card("Insight", "282c", "4, 30, 66", "041e42")(class="insight")
      //- +card("Product", "282c", "4, 30, 66", "041e42")(class="product")