include partials/product-card
include partials/font-card

extends layout

block append vars
  - bodyclass = 'index'

block content
  section
    .row
      .col-xs-12
        +product-card("group",
          "",
          "",
          "0, 0, 21",
          "92, 82, 0, 0",
          "0000DD",
          "",
          "167, 169, 172",
          "36, 28, 27, 0",
          "A7A9AC",
          "",
          "228, 229, 230",
          "9, 6, 6, 0",
          "E4E5E6")(class="group")
      
      .col-xs-12.col-md-6
        +product-card(
          "insight",
          "Insight",
          "",
          "158, 112, 161",
          "42, 63, 12, 0",
          "9E70A1",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "")(class="insight")
      
      .col-xs-12.col-md-6
        +product-card(
          "fashion",
          "Fashion",
          "",
          "254, 72, 79",
          "0, 86, 65, 0",
          "FE484F",
          "",
          "254, 127, 132",
          "0, 64, 35, 0",
          "FE7F84",
          "",
          "255, 235, 236",
          "0, 8, 2, 0",
          "FFEBEC")(class="fashion")
      
      .col-xs-12.col-md-6
        +product-card(
          "lifestyle-and-interiors",
          "Lifestyle & Interiors",
          "",
          "0, 182, 151",
          "76, 0, 54, 0",
          "00B697",
          "",
          "77, 204, 182",
          "61, 0, 38, 0",
          "4DCCB6",
          "",
          "227, 247, 244",
          "9, 0, 4, 0",
          "E3F7F4")(class="li")
      
      .col-xs-12.col-md-6
        +product-card(
          "instock",
          "Instock",
          "",
          "62, 151, 241",
          "67, 34, 0, 0",
          "3E97F1",
          "",
          "120, 182, 245",
          "48, 18, 0, 0",
          "78B6F5",
          "",
          "234, 244, 253",
          "6, 1, 0, 0",
          "EAF4FD")(class="instock")
      
      .col-xs-12.col-md-6
        +product-card(
          "styletrial",
          "Styletrial",
          "",
          "255, 196, 48",
          "0, 24, 90, 0",
          "FFC430",
          "",
          "255, 214, 110",
          "0, 15, 68, 0",
          "FFD66E",
          "",
          "255, 249, 232",
          "0, 1, 9, 0",
          "FFF9E8")(class="styletrial")
      
      .col-xs-12.col-md-6
        +product-card(
          "mindset",
          "Mindset",
          "",
          "35, 31, 32",
          "70, 67, 64, 74",
          "231f20",
          "",
          "",
          "",
          "",
          "",
          "255, 255, 255",
          "0, 0, 0, 0",
          "ffffff")(class="mindset")

  hr

  section
    .row
      .col-xs-12.col-sm-6
        h2 Looking for fonts?
    .row  
      .col-xs-12.col-md-6: +font-card("WGSN Headline", "This is WGSN’s bespoke font. We always feature it in uppercase to give prominence when using it in page titling and marketing headline elements. Use glyphs sparingly when incorporating into marketing headline copy.", "ABCDEFGHIJKLM NOPQRSTUVWXYZ", "abcdefghijklm nopqrstuvwxyz", "1234567980", "WGSNHeadline.otf")(class="wgsn-headline")
      .col-xs-12.col-md-6: +font-card("PT Serif", "We use PT Serif for the WGSN Insider Blog. PT Serif is used in uppercase to give prominence when using it in page titling. It is used in standard case for secondary titling and body copy.", "ABCDEFGHIJKLM NOPQRSTUVWXYZ", "abcdefghijklm nopqrstuvwxyz", "1234567980", "PT_Serif-Web-Regular.ttf")(class="pt-serif")
      .col-xs-12.col-md-6: +font-card("Helvetica Neue", "We use Helvetica Neue for all body copy and text heavy applications. We always use Helvetica Neue regular, but can use bold for in page navigation or to show emphasis.", "ABCDEFGHIJKLM NOPQRSTUVWXYZ", "abcdefghijklm nopqrstuvwxyz", "1234567980", "")(class="helvetica-neue")

    //- copy to clipboard alerts
    .alert-container
      .alert#alert-success: p Code copied to clipboard.
      .alert#alert-error: p Oops... copying didn't work :/