doctype
block vars
  - var bodyclass = null

html
  head
    title WGSN Style Guide
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css")
    link(rel="stylesheet", href="https://file.myfontastic.com/VeyjPfaKqwcaCVK6kquFB4/icons.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism.css")
    link(rel="shortcut icon", type="image/x-icon", href="https://www.wgsn.com/wp-content/themes/stylesight/favicon.ico")
  
  body(class=bodyclass)
    header.block-ver-sm.bg-black.transition
      .content-wrap
        .row
          .col-xs-12.col-sm-10
            a.header-logo.pull-left(href="/"): include partials/logo
            ul.pull-left.list-bare.tight.header-nav
              li.tight.block-right-md.block-ver-md.inline-block.pull-left#nav-products: a(href="/") Products
              li.tight.block-md.inline-block.pull-left#nav-style-guide: a(href="/style-guide") Style Guide

          .col-xs-12.col-sm-2
            label.dropdown
              select#product-changer
                option(value="wgsn") WGSN
                option(value="insight") Insight
                option(value="fashion") Fashion
                option(value="li") Lifestyle &amp; Interiors
                option(value="instock") Instock
                option(value="styletrial") Styletrial
    
    .content-wrap
      #content
        block content

    hr

    footer.block-ver-lg
      .content-wrap
        .block-ver-sm.text-center.text-grey.text-italic
          p.serif All logos and branding owned by 
            a.text-grey.text-italic.text-underline.serif(href="http://wgsn.com", target="_blank") WGSN
          p.serif Made with 
            i.icon.icon-heart-filled
            |  by 
            a.text-grey.text-italic.text-underline.serif(href="mailto:amelia.lewis@wgsn.com") Amelia Lewis
          p.serif
            a.text-grey.text-italic.text-underline.serif(href="https://github.com/amelia-lewis/wgsn-styleguide/issues", target="_blank") Let me know
            |  if there's any issues or other things you'd like added
    
    include partials/scripts