doctype
block vars
  - var bodyclass = null

html
  head
    title WGSN Style Guide
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css")
    link(rel="stylesheet", href="https://file.myfontastic.com/VeyjPfaKqwcaCVK6kquFB4/icons.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism.css")
    link(rel="shortcut icon", type="image/x-icon", href="https://www.wgsn.com/wp-content/themes/stylesight/favicon.ico")
  
  body(class=bodyclass)
    include partials/github-link
    img(src="/assets/icons/wgsn-icons.svg" style="display: none;")

    header.block-ver-sm.bg-black.transition
      .content-wrap
        .row
          .col-xs-6.col-sm-10
            a.header-logo.pull-left.l(href="/"): include partials/logo
            ul.pull-left.list-bare.tight.header-nav
              li.tight.block-ver-md.block-hor-sm.inline-block.pull-left#nav-home: a(href="/") Home
              li.tight.block-ver-md.block-hor-sm.inline-block.pull-left#nav-logo: a(href="/logo") Logo
              li.tight.block-ver-md.block-hor-sm.inline-block.pull-left#nav-products: a(href="/product-colors") Product Colors
              li.tight.block-ver-md.block-hor-sm.inline-block.pull-left#nav-fonts: a(href="/fonts") Fonts
              li.tight.block-ver-md.block-hor-sm.inline-block.pull-left#nav-style-guide: a(href="/style-guide") Style Guide

          .col-xs-6.col-sm-2.text-right
            label.label.label--dropdown
              select.input.input--dropdown#product-changer
                option(value="wgsn") WGSN
                option(value="insight") Insight
                option(value="fashion") Fashion
                option(value="li") Lifestyle &amp; Interiors
                option(value="instock") Instock
                option(value="barometer") Barometer
                option(value="styletrial") Styletrial

    .hamburgler-menu
      ul.hamburgler-menu-list
        li.block-xs#nav-home: a.text-bolder(href="/") Home
        li.block-xs#nav-logo: a.text-bolder(href="/logo") Logo
        li.block-xs#nav-products: a.text-bolder(href="/product-colors") Product Colors
        li.block-xs#nav-fonts: a.text-bolder(href="/fonts") Fonts
        li.block-xs#nav-style-guide: a.text-bolder(href="/style-guide") Style Guide
        li.block-xs#nav-style-guide-overview: a(href="/style-guide") Overview
        li.block-xs#nav-style-guide-typography: a(href="/style-guide/typography") Typography
        li.block-xs#nav-style-guide-grid: a(href="/style-guide/grid") Grid
        li.block-xs#nav-style-guide-layout: a(href="/style-guide/layout") Layout
        li.block-xs#nav-style-guide-ui-elements: a(href="/style-guide/ui-elements") UI Elements
        li.block-xs#nav-style-guide-content-tiles: a(href="/style-guide/content-tiles") Content Tiles
        li.block-xs#nav-style-guide-icons: a(href="/style-guide/icons") Icons

    #hamburgler.hamburgler-icon-wrapper
      span.hamburgler-icon
    
    .content-wrap
      #content
        block content

    hr

    footer.block-ver-md
      .content-wrap
        .block-ver-sm.text-grey
          p.tight All logos and branding owned by 
            a.styled(href="http://wgsn.com", target="_blank") WGSN
            | . Style Guide made with 
            i.icon.icon-heart-filled
            |  by 
            a.styled(href="mailto:amelia.lewis@wgsn.com") Amelia Lewis
            | . Let me know if there's any 
            a.styled(href="https://github.com/amelia-lewis/wgsn-styleguide/issues", target="_blank") issues
            |  or other things you'd like added.
      
      include partials/scripts