extends layout

block append vars
  - bodyclass = 'logos-view'

block content
  include partials/logo-card
  
  .grid.grid-pad
    .col-1-1
      .block: .card-container: h1 Logos
      .block-bot-md
        +logo-card("group", "WGSN")(class="group")
        +logo-card("fashion", "Fashion")(class="fashion")
        +logo-card("lifestyle-and-interiors", "Lifestyle & Interiors")(class="interiors")
        +logo-card("instock", "INstock")(class="instock")
        +logo-card("styletrial", "Styletrial")(class="styletrial")
        +logo-card("mindset", "Mindset")(class="mindset")

      .block-ver-md: .card-container: h3.tight Future Products
      .block-bot-md
        +logo-card("lifestyle", "Lifestyle")(class="lifestyle")
        +logo-card("intelligence", "Intelligence")(class="intelligence")
        +logo-card("thinktank", "Thinktank")(class="thinktank")
        +logo-card("insight", "Insight")(class="insight")
        +logo-card("product", "Product")(class="product")
        