extends ../layout

block append vars
  - bodyclass = 'index logo'

block content
  section
    .row
      .col-xs-12.col-md-8
        p.text-larger.block-bot-md There is only one WGSN wordmark used across the brand and outside of it. Do not create any alternative product/brand 'logos' or variation 'logos'.
    .row
      .col-xs-12
        p In the case of specific, major partnerships that may require a visual output that affects the existing branding, Brand Design will need to be notified to study the context and brief.
        p In regards to logo requests from partners, share only the wordmark shown here.
        p The three primary colours are black, white and grey and must be used as the main option. Secondary colours can be either the Brand Blue or one of the product colours.
        p Branding is majority black and white but there does remain an option to inherit the colour of the category, product or audience if the design requires.

  hr
  
  section
    .row
      .col-xs-12.col-sm-6
        h2 Downloads
        .border
          .block-lg
            include ../partials/logo
          
          hr
          
          .block-top-md.block-hor-md
            .row
              .col-xs-12.col-sm-3
                h4 Vector
                ul.list-bare.block-bot-md
                  li: a.styled(href="/downloads/wgsn-logo.svg" download="wgsn-logo.svg") SVG
                  li: a.styled(href="/downloads/wgsn-logo.pdf" download="wgsn-logo.pdf") PDF
                  li: a.styled(href="/downloads/wgsn-logo.eps" download="wgsn-logo.eps") EPS

              .col-xs-12.col-sm-3
                h4 Black
                ul.list-bare.block-bot-md
                  li: a.styled(href="/downloads/wgsn-logo-sm.png" download="wgsn-logo-sm.png") PNG (sm)
                  li: a.styled(href="/downloads/wgsn-logo-lg.png" download="wgsn-logo-lg.png") PNG (lg)
                  li: a.styled(href="/downloads/wgsn-logo-sm.jpg" download="wgsn-logo-sm.jpg") JPG (sm)
                  li: a.styled(href="/downloads/wgsn-logo-sm.jpg" download="wgsn-logo-lg.jpg") JPG (lg)

              .col-xs-12.col-sm-3
                h4 Grey
                ul.list-bare.block-bot-md
                  li: a.styled(href="/downloads/wgsn-logo-white-sm.png" download="wgsn-logo-grey-sm.png") PNG (sm)
                  li: a.styled(href="/downloads/wgsn-logo-white-lg.png" download="wgsn-logo-grey-lg.png") PNG (lg)

              .col-xs-12.col-sm-3
                h4 White
                ul.list-bare
                  li: a.styled(href="/downloads/wgsn-logo-white-sm.png" download="wgsn-logo-white-sm.png") PNG (sm)
                  li: a.styled(href="/downloads/wgsn-logo-white-lg.png" download="wgsn-logo-white-lg.png") PNG (lg)