include mixins
include ../../partials/github-link

section#section-content-tile
  h2.inline-block Content Tile
  +github-link("content-tiles")
  
  .card
    .row
      .col-xs-12.col-sm-6.col-md-4: +content-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67398/thumb.jpg", "New Look A/W 16/17 – Womenswear", false, "03.08.16", false, "Retail")
      .col-xs-12.col-sm-6.col-md-4: +content-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/66680/thumb.jpg", "Women's Forecast S/S 18: Slow Futures", "Slow Futures focuses on the importance of basics, but with a more luxurious approach.", "01.08.16", "Robbie Sinclair, Jane Boddy, Laura Yiannakou", "Trend Forecast")
      .col-xs-12.col-sm-6.col-md-4: +content-tile("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67015/thumb.jpg", "Berlin Trade Shows S/S 17 – Premium", false, "08.07.16", "Laura Yiannakou", "Trade Shows")

  include:marked content-tile.md