include mixins
include ../../partials/github-link

section#section-featured-content-tile
  h2.inline-block Featured Content Tile
  +github-link("content-tiles")
    
  .card
    .row
      .col-xs-12.col-sm-6: +content-tile--featured("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67648/thumb.jpg", "Youth #ICYMI – July", false, "16.08.16", "Chris Coleman", "Youth", "Womenswear")
      .col-xs-12.col-sm-6: +content-tile--featured("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67700/thumb.jpg", "Floating Motifs", false, "16.08.16", "Katie Atkinson", "Intimates & Swim")

  include:marked featured-content-tile.md