extends ../../layout

block append vars
  - bodyclass = 'style-guide style-guide-content-types'

block content
  include ../../partials/style-guide-sub-nav
  
  section
    .row
      .col-xs-12.col-sm-3.col-md-2
        .sidebar-menu.sticky
          h4.sidebar-menu--title Sections
          ul
            li: a(href="#section-content-tile") Content Tile
            li: a(href="#section-featured-content-tile") Featured Content Tile
            li: a(href="#section-small-content-tile") Small Content Tile

      //- =======================================================
      
      .col-xs-12.col-sm-9.col-md-7
        section
          p Content tiles are the basis of all content on the site, particularly in Fashion, Lifestyle &amp; Interiors and Insight. They can have a 
            strong thumbnail image
            | , a 
            strong category
            | , a 
            strong title
            | , a 
            strong description
            | , a 
            strong date
            |  and an 
            strong author(s)
            | .
          p Content tiles take up the entire width of their parent, so you can and should use them in the grid, and their accents will take on the product's 
            a.styled(href='/') colour
            |  when 
            code body
            |  has a product class, such as 
            code .product-fashion
            | , which it should always have.
        
        hr
        include content-tile
        hr
        include featured-content-tile
        hr
        include small-content-tile