include mixins

section#section-small-content-tile
  h2.inline-block Small Content Tile
  +github-link("content-tiles")

  .card
    .row
      .col-xs-12.col-sm-6: +content-tile--small("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67296/thumb.jpg", "Pinterests That Inspire – Knitwear", false, "12.08.16", "Charlotte Casey", "Knitwear")
      .col-xs-12.col-sm-6: +content-tile--small("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67404/thumb.jpg", "Accessories & Footwear Forecast S/S 18: Leather & Non-Leather", false, "09.08.16", "Melissa Taylor, Claire Foster", "Footwear")
      .col-xs-12.col-sm-6: +content-tile--small("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/66456/thumb.jpg", "June 2016 – Shanghai Streets", false, "24.06.16", "Anupreet Bhui", "Street Style")
      .col-xs-12.col-sm-6: +content-tile--small("https://www.wgsn.com/storage/vol21/fo_image_store/cached/boards/67483/thumb.jpg", "Olive Green – Intimates Colour Alert", false, "17.08.16", "Jo Lynch", "Colour")

  include:marked small-content-tile.md