include mixins

section#section-video-tile
  h2.inline-block Video Tile
  
  .card
    .row
      .col-xs-12.col-sm-6.col-md-4: +content-tile--video("https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46906/thumb.jpg", "WGSN@ The Lingerie Edit", false, "21.07.16", "2:30", "WGSN at...")(class="content-tile--video")
      .col-xs-12.col-sm-6.col-md-4: +content-tile--video("https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46896/thumb.jpg", "Trend Minute: Tropical Foliage", false, "13.07.16", "2:30", "Trend Minute")(class="content-tile--video")
      .col-xs-12.col-sm-6.col-md-4: +content-tile--video("https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46841/thumb.jpg", "WGSN Whereabouts: Governors Ball 2016", false, "08.07.16", "2:30", "WGSN Whereabouts")(class="content-tile--video")