.block-bot-md#section-headings
  h2.inline-block Headings
  a.text-underline.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_typography.sass" target="_blank") View on Github
  
  .card
    .row.block-bot-md.border-bottom
      .col-xs-2
        code h1
      .col-xs-10
        h1.tight Heading Level 1

    .row.block-ver-md.border-bottom
      .col-xs-2
        code h2
      .col-xs-10
        h2.tight Heading Level 2

    .row.block-ver-md.border-bottom
      .col-xs-2
        code h3
      .col-xs-10
        h3.tight Heading Level 3

    .row.block-top-md
      .col-xs-2
        code h4
      .col-xs-10
        h4.tight Heading Level 4