include ../../partials/github-link

section#section-headings
  h2.inline-block Headings
  +github-link("typography")
  
  .card
    .row.block-bot-md.border-bottom
      .col-xs-4.col-sm-3
        code h1
      .col-xs-8.col-sm-9
        h1.tight Heading 1
        p.tight.text-grey 30px Mobile / 40px Desktop

    .row.block-ver-md.border-bottom
      .col-xs-4.col-sm-3
        code h2
      .col-xs-8.col-sm-9
        h2.tight Heading 2
        p.tight.text-grey 24px Mobile / 30px Desktop

    .row.block-ver-md.border-bottom
      .col-xs-4.col-sm-3
        code h3
      .col-xs-8.col-sm-9
        h3.tight Heading 3
        p.tight.text-grey 20px Mobile / 20px Desktop

    .row.block-top-md
      .col-xs-4.col-sm-3
        code h4
      .col-xs-8.col-sm-9
        h4.tight Heading 4
        p.tight.text-grey 16px Mobile / 16px Desktop

  p Headings can also have a highlight, with the class 
    code .header-highlight
    | . This highlight will take on the product's 
    a.styled(href='/') colour
    |  when 
    code body
    |  has a product class, such as 
    code .fashion
    | , which it should always have.
  
  .card
    .row.block-ver-md
      .col-xs-4.col-sm-3
        code .header-highlight
      .col-xs-8.col-sm-9
        h2.header-highlight Highlighted Heading
        p.tight.text-grey Note that this highlight requires the element to be displayed inline, so you may need to wrap it in a container.