extends ../../layout

block append vars
  - bodyclass = 'style-guide style-guide-typography'

block content
  include ../../partials/style-guide-sub-nav
  
  section
    .row
      .col-xs-0.col-sm-3.col-md-2
        .sidebar-menu.sticky
          h4.sidebar-menu--title Sections
          ul
            li: a(href="#section-headings") Headings
            li: a(href="#section-paragraphs") Paragraphs
            li: a(href="#section-lists") Lists
            li: a(href="#section-links") Links
            li: a(href="#section-typography-utilities") Typography Utilities

      //- =======================================================

      .col-xs-12.col-sm-9.col-lg-7
        include headings
        hr
        include paragraphs
        hr
        include lists
        hr
        include links
        hr
        include typography-utilities