extends ../../layout

block append vars
  - bodyclass = 'style-guide-typography'

block content
  include ../../partials/style-guide-sub-nav
  
  section.block-top-xl
    .row
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="#section-headings") Headings
          li: a(href="#section-paragraphs") Paragraphs

      .col-xs-12.col-sm-9
        .block-ver-md#section-headings
          h2.inline-block Headings
          a.underlined.text-grey.text-smaller.inline-block(href="") View on Github
          
          .card: p Lorem ipsum

        hr
        
        //- =======================================================

        .block-ver-md#section-paragraphs
          h2.inline-block Paragraphs
          a.underlined.text-grey.text-smaller.inline-block(href="") View on Github
          
          .card: p Lorem ipsum

        hr
        
        //- =======================================================