section#section-links
  h2.inline-block Links
  +github-link("typography")
  
  p Links within body copy should use this underline, achieved with the class 
    code .styled
    | . The 
    a.styled(href='/') colour
    |  should reflect the product.
  
  .card
    p This text has a 
      a.styled(href="") link
      |  in it.

  include:marked links.md