section#section-links
  h2.inline-block Links
  +github-link("typography")
  
  p Links within body copy should use this underline, achieved with the class 
    code .styled
    | . The 
    a.styled(href='/') colour
    |  should reflect the product.
  
  .card
    .row
      .col-xs-4.col-sm-3
        code .link-styled
      .col-xs-8.col-sm-9
        p This paragraph has a 
          a.styled(href="") link
          |  in it.