section#section-links
  h2.inline-block Links
  a.styled.text-smaller(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_typography.sass" target="_blank") View on Github
  
  p Links within body copy should use this underline, achieved with the class 
    code .styled
    | . The 
    a.styled(href='/') colour
    |  should reflect the product.
  
  .card
    p This text has a 
      a.styled(href="") link
      |  in it.

  include:markdown links.md