section#section-lists
  h2.inline-block Lists
  +github-link("typography")
  
  .card
    .row.block-bot-md.border-bottom
      .col-xs-2
        code ul.styled
      .col-xs-10
        ul.styled
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Sed do eiusmod tempor

    .row.block-top-md
      .col-xs-2
        code ol.styled
      .col-xs-10
        ol.styled
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Sed do eiusmod tempor