section#section-lists
  h2.inline-block Lists
  +github-link("typography")
  
  .card
    .row.block-bot-md
      .col-xs-3
        code ul.ul-styled
      .col-xs-9
        ul.ul-styled
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Sed do eiusmod tempor

          ul
            li Lorem ipsum dolor sit amet
            li Consectetur adipiscing elit
            li Sed do eiusmod tempor

    hr

    .row.block-top-md
      .col-xs-3
        code ol.ol-styled
      .col-xs-9
        ol.ol-styled
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Sed do eiusmod tempor

          ol
            li Lorem ipsum dolor sit amet
            li Consectetur adipiscing elit
            li Sed do eiusmod tempor

