section#section-lists
  h2.inline-block Lists
  a.styled.text-smaller(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_typography.sass" target="_blank") View on Github
  
  .card
    .row.block-bot-md.border-bottom
      .col-xs-2
        code ul.styled
      .col-xs-10
        ul.styled
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Sed do eiusmod tempor

    .row.block-top-md
      .col-xs-2
        code ol.styled
      .col-xs-10
        ol.styled
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Sed do eiusmod tempor