.block-ver-md#section-lists
  h2.inline-block Lists
  a.underlined.text-grey.text-smaller.inline-block(href="") View on Github
  
  .card
    .row.block-bot-md.border-bottom
      .col-xs-10
        ul
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Sed do eiusmod tempor
      .col-xs-2.text-right
        code ul

    .row.block-top-md
      .col-xs-10
        ol
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Sed do eiusmod tempor
      .col-xs-2.text-right
        code ol