.block-top-md#section-typography-utilities
  h2.inline-block Typography Utilities
  a.text-underline.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_typography.sass" target="_blank") View on Github
  
  .card
    .row.block-bot-md.border-bottom
      .col-xs-4
        code .serif
      .col-xs-8
        p.tight.serif Serif font, PT Serif

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .sans-serif
      .col-xs-8
        p.tight.sans-serif Sans-serif font, Helvetica Neue

    .row.block-top-md
      .col-xs-4
        code .wgsn-font
      .col-xs-8
        p.tight.wgsn-font WGSN Headline font

  .card
    .row.block-bot-md.border-bottom
      .col-xs-4
        code .tight
      .col-xs-8
        p.tight No margin

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-normal
      .col-xs-8
        p.tight Normal text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-bold
        span , 
        code strong
      .col-xs-8
        p.tight.text-bold Bold text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-italic
        span , 
        code em
      .col-xs-8
        p.tight.text-italic Italicised text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-underline
      .col-xs-8
        p.tight.text-underline Underlined text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-left
      .col-xs-8
        p.tight.text-left Left-aligned text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-center
      .col-xs-8
        p.tight.text-center Center-aligned text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-right
      .col-xs-8
        p.tight.text-right Right-aligned text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-justify
      .col-xs-8
        p.tight.text-justify Justified text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-truncate
      .col-xs-8
        p.tight.text-truncate Truncated text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-lowercase
      .col-xs-8
        p.tight.text-lowercase Lowercase text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-uppercase
      .col-xs-8
        p.tight.text-uppercase Uppercase text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-capitalize
      .col-xs-8
        p.tight.text-capitalize Capitalized text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-no-transform
      .col-xs-8
        p.tight.text-no-transform Text with no transformation

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-smaller
        span , 
        code small
      .col-xs-8
        p.tight.text-smaller Smaller text

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .text-white
      .col-xs-8.bg-dk-grey
        p.tight.text-white White text

    .row.block-top-md
      .col-xs-4
        code .text-grey
      .col-xs-8
        p.tight.text-grey Grey text