extends ../../layout

block append vars
  - bodyclass = 'style-guide-icons'

mixin icon-block(name)
  .col-xs-6.col-sm-4
    .icon-block.block-sm
      .row
        .col-xs-2
          i.icon(class=name)
        .col-xs-10
          code.pull-left
            | .
            code= name

block content
  include ../../partials/style-guide-sub-nav
  
  section.block-top-xl
    .row
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="#section-arrows") Arrows
          li: a(href="#section-utilities") Utilities
          li: a(href="#section-users") Users
          li: a(href="#section-view-options") View Options
          li: a(href="#section-file-types") File Types
          li: a(href="#section-navigational") Navigational
          li: a(href="#section-symbols") Symbols
          li: a(href="#section-social-media") Social Media

      .col-xs-12.col-sm-9
        .block-bot-md
          p Icons use an icon font, which can be added to your project by including 
            code link(href="https://file.myfontastic.com/VeyjPfaKqwcaCVK6kquFB4/icons.css", rel="stylesheet")
            |  in the 
            code head
            | .
          p The classes below 
            strong must
            |  be added to an 
            code i.icon
            |  (e.g. 
            code i.icon.icon-arrow-right
            | ).

        hr

        .block-ver-md#section-arrows
          h2.inline-block Arrows

          .card
            .row
              +icon-block("icon-caret-down")
              +icon-block("icon-caret-right")
              +icon-block("icon-angle-up")
              +icon-block("icon-angle-right")
              +icon-block("icon-angle-left")
              +icon-block("icon-angle-down")
              +icon-block("icon-arrow-up")
              +icon-block("icon-arrow-right")
              +icon-block("icon-arrow-left")
              +icon-block("icon-arrow-down")
              +icon-block("icon-double-angle-up")
              +icon-block("icon-double-angle-right")
              +icon-block("icon-double-angle-left")
              +icon-block("icon-double-angle-down")

        hr

        .block-ver-md#section-utilities
          h2.inline-block Utilities

          .card
            .row
              +icon-block("icon-trash")
              +icon-block("icon-upload")
              +icon-block("icon-paper-plane")
              +icon-block("icon-expand")
              +icon-block("icon-collapse")
              +icon-block("icon-camera")
              +icon-block("icon-print")
              +icon-block("icon-fullscreen")
              +icon-block("icon-reset")
              +icon-block("icon-clone")
              +icon-block("icon-share-left")
              +icon-block("icon-share-right")
              +icon-block("icon-crop")
              +icon-block("icon-download")
              +icon-block("icon-move")
              +icon-block("icon-export")
              +icon-block("icon-pencil")
              +icon-block("icon-pencil-square")

        hr

        .block-ver-md#section-users
          h2.inline-block Users

          .card
            .row
              +icon-block("icon-user")
              +icon-block("icon-user-filled")

        hr

        .block-ver-md#section-view-options
          h2.inline-block View Options

          .card
            .row
              +icon-block("icon-grid-sm")
              +icon-block("icon-grid-md")
              +icon-block("icon-grid-lg")
              +icon-block("icon-grid-details")

        hr

        .block-ver-md#section-file-types
          h2.inline-block File Types

          .card
            .row
              +icon-block("icon-image")
              +icon-block("icon-film")
              +icon-block("icon-book")

        hr

        .block-ver-md#section-navigational
          h2.inline-block Navigational

          .card
            .row
              +icon-block("icon-bars")
              +icon-block("icon-inbox")
              +icon-block("icon-bookmark")
              +icon-block("icon-bell")
              +icon-block("icon-help-circle")
              +icon-block("icon-info-circle")
              +icon-block("icon-gear")
              +icon-block("icon-chat")
              +icon-block("icon-briefcase")
              +icon-block("icon-envelope")
              +icon-block("icon-ellipsis")
              +icon-block("icon-search")
              +icon-block("icon-folder")
              +icon-block("icon-comment")
              +icon-block("icon-minimise")
              +icon-block("icon-folder-shared")
              +icon-block("icon-comment-filled")

        hr

        .block-ver-md#section-navigational
          h2.inline-block Languages

          .card
            .row
              +icon-block("icon-lang-en")
              +icon-block("icon-lang-es")
              +icon-block("icon-lang-pt")
              +icon-block("icon-lang-cs")
              +icon-block("icon-lang-jp")
              +icon-block("icon-lang-ko")

        hr

        .block-ver-md#section-symbols
          h2.inline-block Symbols

          .card
            .row
              +icon-block("icon-circle")
              +icon-block("icon-heart")
              +icon-block("icon-heart-filled")
              +icon-block("icon-tick")
              +icon-block("icon-tick-circle")
              +icon-block("icon-tick-circle-filled")
              +icon-block("icon-cross")
              +icon-block("icon-cross-circle")
              +icon-block("icon-cross-circle-filled")
              +icon-block("icon-plus")
              +icon-block("icon-plus-circle")
              +icon-block("icon-plus-circle-filled")
              +icon-block("icon-minus")
              +icon-block("icon-minus-circle")
              +icon-block("icon-minus-circle-filled")
              +icon-block("icon-list")
              +icon-block("icon-eye")
        hr

        .block-top-md#section-social-media
          h2.inline-block Social Media

          .card
            .row
              +icon-block("icon-facebook")
              +icon-block("icon-twitter")
              +icon-block("icon-instagram")
              +icon-block("icon-google-plus")
              +icon-block("icon-tumblr")
              +icon-block("icon-pinterest")
              +icon-block("icon-youtube")
              +icon-block("icon-youtube-alt")
              +icon-block("icon-vimeo")
              +icon-block("icon-linkedin")