extends ../../layout

block append vars
  - bodyclass = 'style-guide-icons'

mixin icon-block(name)
  .col-xs-6.col-sm-4
    .icon-block.block-sm
      .block-xs.pull-left: i.icon(class="icon-" + name)
      .block-ver-xs
        code.pull-left
          | .icon-
          code= name

block content
  include ../../partials/style-guide-sub-nav
  
  section.block-top-xl
    .row
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="#section-arrows") Arrows
          li: a(href="#section-utilities") Utilities
          li: a(href="#section-symbols") Symbols

      .col-xs-12.col-sm-9
        .block-bot-md#section-arrows
          h2.inline-block Arrows

          .card
            .row
              +icon-block("arrow-down-circle")
              +icon-block("angle-up")
              +icon-block("angle-down")
              +icon-block("angle-right")
              +icon-block("angle-left")
              +icon-block("double-angle-down")
              +icon-block("caret-down")
              +icon-block("caret-right")
              +icon-block("arrow-left")
              +icon-block("arrow-right")

        .block-ver-md#section-utilities
          h2.inline-block Utilities

          .card
            .row
              +icon-block("trash")
              +icon-block("paper-plane")
              +icon-block("expand")
              +icon-block("print")
              +icon-block("collapse")
              +icon-block("clone")
              +icon-block("fullscreen")
              +icon-block("crop")
              +icon-block("search")
              +icon-block("upload")
              +icon-block("download")
              +icon-block("move")
              +icon-block("share-right")
              +icon-block("share-left")
              +icon-block("pencil")
              +icon-block("envelope")
              +icon-block("pencil-square")
              +icon-block("export")
              +icon-block("user")
              +icon-block("user-filled")
              +icon-block("gear")
              +icon-block("bookmark")
              +icon-block("info-circle")
              +icon-block("help-circle")

        .block-ver-md#section-utilities
          h2.inline-block Symbols

          .card
            .row
              +icon-block("cross")
              +icon-block("cross-circle-filled")
              +icon-block("heart-o")
              +icon-block("heart")
              +icon-block("tick")
              +icon-block("tick-circle")
              +icon-block("tick-circle-filled")
              +icon-block("plus-circle")
              +icon-block("plus")
              +icon-block("cross")
              +icon-block("circle")
              +icon-block("bars")
              +icon-block("grid-sm")
              +icon-block("grid-md")
              +icon-block("grid-lg")
              +icon-block("grid-details")