extends ../../layout

block append vars
  - bodyclass = 'style-guide style-guide-icons'

mixin icon-block(name)
  .col-xs-6.col-sm-4
    .icon-block.block-sm
      .row
        .col-xs-2
          //- i.icon(class=name)
          svg(class="icon"): use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/wgsn-icons.svg#" + name)
        .col-xs-10
          code.pull-left= name

block content
  include ../../partials/style-guide-sub-nav
  
  section
    .row
      .col-xs-0.col-sm-3.col-md-2
        .sidebar-menu.sticky
          h4.sidebar-menu--title Sections
          ul
            li: a(href="#section-arrows") Arrows
            li: a(href="#section-application") Application
            li: a(href="#section-file-types") File Types
            li: a(href="#section-instock") Instock
            li: a(href="#section-languages") Languages
            li: a(href="#section-social-media") Social Media
            li: a(href="#section-symbols") Symbols

      //- =======================================================

      .col-xs-12.col-sm-9.col-lg-7
        section
          p For our icons, we are using an SVG sprite system. You can find more information on how that works on  
            a.styled(href="https://css-tricks.com/svg-sprites-use-better-icon-fonts/" target="_blank") CSS Tricks
            | .
          p Vectors of the icons can be found 
            a.styled(href="https://drive.google.com/open?id=0B-449LHnjupfXzFHOEd3R3FhbmM" target="_blank") here
            | .

        hr

        section#section-arrows
          h2.inline-block Arrows

          .card
            .row
              +icon-block("arrows-caret-down")
              +icon-block("arrows-caret-right")
              +icon-block("arrows-dropdown-arrow")

            .block-ver-sm: hr

            .row
              +icon-block("arrows-arrow-up")
              +icon-block("arrows-arrow-right")
              +icon-block("arrows-arrow-left")
              +icon-block("arrows-arrow-down")

            .block-ver-sm: hr

            .row
              +icon-block("arrows-angle-up")
              +icon-block("arrows-angle-right")
              +icon-block("arrows-angle-left")
              +icon-block("arrows-angle-down")

            .block-ver-sm: hr

            .row
              +icon-block("arrows-double-angle-up")
              +icon-block("arrows-double-angle-right")
              +icon-block("arrows-double-angle-left")
              +icon-block("arrows-double-angle-down")

        hr

        section#section-application
          h2.inline-block Application

          .card
            .row
              +icon-block("application-bars")
              +icon-block("application-bell")
              +icon-block("application-bell-filled")
              +icon-block("application-bookmark")
              +icon-block("application-bookmark-filled")
              +icon-block("application-briefcase")
              +icon-block("application-camera")
              +icon-block("application-clone")
              +icon-block("application-collapse")
              +icon-block("application-comment")
              +icon-block("application-comment-filled")
              +icon-block("application-comments")
              +icon-block("application-comments-filled")
              +icon-block("application-comments-inactive")
              +icon-block("application-crop")
              +icon-block("application-download")
              +icon-block("application-ellipsis")
              +icon-block("application-envelope")
              +icon-block("application-exclamation-circle")
              +icon-block("application-exclamation-circle-filled")
              +icon-block("application-expand")
              +icon-block("application-export")
              +icon-block("application-eye")
              +icon-block("application-filter")
              +icon-block("application-folder")
              +icon-block("application-folder-filled")
              +icon-block("application-folder-shared")
              +icon-block("application-folder-shared-filled")
              +icon-block("application-fullscreen")
              +icon-block("application-grid-sm")
              +icon-block("application-grid-md")
              +icon-block("application-grid-lg")
              +icon-block("application-grid-details")
              +icon-block("application-help-circle")
              +icon-block("application-help-circle-filled")
              +icon-block("application-inbox")
              +icon-block("application-info-circle")
              +icon-block("application-info-circle-filled")
              +icon-block("application-link")
              +icon-block("application-list")
              +icon-block("application-map")
              +icon-block("application-map-filled")
              +icon-block("application-map-marker")
              +icon-block("application-map-marker-filled")
              +icon-block("application-minimise")
              +icon-block("application-mobile")
              +icon-block("application-move")
              +icon-block("application-paper-plane")
              +icon-block("application-pencil")
              +icon-block("application-pencil-square")
              +icon-block("application-plane")
              +icon-block("application-plane-filled")
              +icon-block("application-print")
              +icon-block("application-reset")
              +icon-block("application-related")
              +icon-block("application-save-to-folder")
              +icon-block("application-search")
              +icon-block("application-settings")
              +icon-block("application-share-left")
              +icon-block("application-share-right")
              +icon-block("application-sliders")
              +icon-block("application-star")
              +icon-block("application-star-half-filled")
              +icon-block("application-star-filled")
              +icon-block("application-trash")
              +icon-block("application-upload")
              +icon-block("application-user")
              +icon-block("application-user-filled")
              +icon-block("application-zoom-in")
              +icon-block("application-zoom-out")

        hr

        section#section-file-types
          h2.inline-block File Types

          .card
            .row
              +icon-block("file-types-image")
              +icon-block("file-types-film")
              +icon-block("file-types-book")
              +icon-block("file-types-file-pdf")
              +icon-block("file-types-file-doc")
              +icon-block("file-types-file-xls")
              +icon-block("file-types-file-ppt")
              +icon-block("file-types-file-key")
              +icon-block("file-types-file-ai")
              +icon-block("file-types-file-psd")
              +icon-block("file-types-file-indd")

        hr

        section#section-instock
          h2.inline-block Instock

          .card
            .row
              +icon-block("instock-in-stock")
              +icon-block("instock-out-of-stock-all-skus")
              +icon-block("instock-out-of-stock-some-skus")
              +icon-block("instock-restocked")
              +icon-block("instock-markdown-all-skus")
              +icon-block("instock-markdown-some-skus")
              +icon-block("instock-markup-all-skus")
              +icon-block("instock-markup-some-skus")
            
            .block-ver-sm: hr

            .row
              +icon-block("instock-kpi")
              +icon-block("instock-date")
              +icon-block("instock-country")
              +icon-block("instock-retailer")
              +icon-block("instock-product")
              +icon-block("instock-age-range")
              +icon-block("instock-price")
              +icon-block("instock-colour")
              +icon-block("instock-print")
              +icon-block("instock-material")

            .block-ver-sm: hr

            .row
              +icon-block("instock-download-xls")
              +icon-block("instock-download-pdf")

        hr

        section#section-languages
          h2.inline-block Languages

          .card
            .row
              +icon-block("lang-en")
              +icon-block("lang-es")
              +icon-block("lang-pt")
              +icon-block("lang-cs")
              +icon-block("lang-jp")
              +icon-block("lang-ko")

        hr

        section#section-social-media
          h2.inline-block Social Media

          .card
            .row
              +icon-block("social-media-facebook")
              +icon-block("social-media-twitter")
              +icon-block("social-media-instagram")
              +icon-block("social-media-google-plus")
              +icon-block("social-media-tumblr")
              +icon-block("social-media-pinterest")
              +icon-block("social-media-youtube")
              +icon-block("social-media-linkedin")
              +icon-block("social-media-weibo")
              +icon-block("social-media-youku")
              +icon-block("social-media-kakao")
              +icon-block("social-media-wechat")

        hr

        section#section-symbols
          h2.inline-block Symbols

          .card
            .row
              +icon-block("symbol-circle")
              +icon-block("symbol-heart")
              +icon-block("symbol-heart-filled")
              +icon-block("symbol-tick")
              +icon-block("symbol-tick-circle")
              +icon-block("symbol-tick-circle-filled")
              +icon-block("symbol-cross")
              +icon-block("symbol-cross-circle")
              +icon-block("symbol-cross-circle-filled")
              +icon-block("symbol-plus")
              +icon-block("symbol-plus-circle")
              +icon-block("symbol-plus-circle-filled")
              +icon-block("symbol-minus")
              +icon-block("symbol-minus-circle")
              +icon-block("symbol-minus-circle-filled")