extends ../../layout

block append vars
  - bodyclass = 'style-guide style-guide-icons'

mixin icon-block(name)
  .col-xs-6.col-sm-4
    .icon-block.block-sm
      .row
        .col-xs-2
          i.icon(class=name)
        .col-xs-10
          code.pull-left
            | .
            span= name

block content
  include ../../partials/style-guide-sub-nav
  
  section
    .row
      .col-xs-12.col-sm-3.col-md-2
        .sidebar-menu
          .sticky
            h4 Sections
            ul
              li: a(href="#section-arrows") Arrows
              li: a(href="#section-application") Application
              li: a(href="#section-file-types") File Types
              li: a(href="#section-instock") Instock
              li: a(href="#section-languages") Languages
              li: a(href="#section-social-media") Social Media
              li: a(href="#section-symbols") Symbols


      .col-xs-12.col-sm-9.col-md-7
        .block-top-lg.block-bot-md
          p Icons use an icon font, which can be added to your project by including 
            code &lt;link href="https://file.myfontastic.com/VeyjPfaKqwcaCVK6kquFB4/icons.css" rel="stylesheet"&gt;
            |  in the 
            code head
            | .
          p The classes below 
            strong must
            |  be added to an 
            code i.icon
            |  (e.g. 
            code i.icon.icon-arrow-right
            | ).

          p Vectors of the icons can be found 
            a.styled(href="https://drive.google.com/open?id=0B-449LHnjupfXzFHOEd3R3FhbmM" target="_blank") here
            | .

        hr

        .block-ver-md#section-arrows
          h2.inline-block Arrows

          .card
            .row
              +icon-block("icon-caret-down")
              +icon-block("icon-caret-right")
              +icon-block("icon-dropdown-arrow")

            hr

            .row
              +icon-block("icon-arrow-up")
              +icon-block("icon-arrow-right")
              +icon-block("icon-arrow-left")
              +icon-block("icon-arrow-down")

            hr

            .row
              +icon-block("icon-angle-up")
              +icon-block("icon-angle-right")
              +icon-block("icon-angle-left")
              +icon-block("icon-angle-down")

            hr

            .row
              +icon-block("icon-double-angle-up")
              +icon-block("icon-double-angle-right")
              +icon-block("icon-double-angle-left")
              +icon-block("icon-double-angle-down")

        hr

        .block-ver-md#section-application
          h2.inline-block Application

          .card
            .row
              +icon-block("icon-bars")
              +icon-block("icon-bell")
              +icon-block("icon-bookmark")
              +icon-block("icon-briefcase")
              +icon-block("icon-camera")
              +icon-block("icon-chat")
              +icon-block("icon-chat-inactive")
              +icon-block("icon-clone")
              +icon-block("icon-collapse")
              +icon-block("icon-comment")
              +icon-block("icon-comment-filled")
              +icon-block("icon-crop")
              +icon-block("icon-download")
              +icon-block("icon-ellipsis")
              +icon-block("icon-envelope")
              +icon-block("icon-error-circle")
              +icon-block("icon-expand")
              +icon-block("icon-export")
              +icon-block("icon-filter")
              +icon-block("icon-folder")
              +icon-block("icon-folder-filled")
              +icon-block("icon-folder-shared")
              +icon-block("icon-folder-shared-filled")
              +icon-block("icon-fullscreen")
              +icon-block("icon-gear")
              +icon-block("icon-grid-sm")
              +icon-block("icon-grid-md")
              +icon-block("icon-grid-lg")
              +icon-block("icon-grid-details")
              +icon-block("icon-help-circle")
              +icon-block("icon-inbox")
              +icon-block("icon-info-circle")
              +icon-block("icon-link")
              +icon-block("icon-map")
              +icon-block("icon-map-marker")
              +icon-block("icon-minimise")
              +icon-block("icon-mobile")
              +icon-block("icon-move")
              +icon-block("icon-paper-plane")
              +icon-block("icon-pencil")
              +icon-block("icon-pencil-square")
              +icon-block("icon-print")
              +icon-block("icon-reset")
              +icon-block("icon-related-reports")              
              +icon-block("icon-search")
              +icon-block("icon-share-left")
              +icon-block("icon-share-right")
              +icon-block("icon-sliders")
              +icon-block("icon-trash")
              +icon-block("icon-upload")
              +icon-block("icon-user")
              +icon-block("icon-user-filled")
              +icon-block("icon-zoom-plus")
              +icon-block("icon-zoom-minus")

        hr

        .block-ver-md#section-file-types
          h2.inline-block File Types

          .card
            .row
              +icon-block("icon-image")
              +icon-block("icon-film")
              +icon-block("icon-book")
              +icon-block("icon-file-pdf")
              +icon-block("icon-file-doc")
              +icon-block("icon-file-xls")
              +icon-block("icon-file-ppt")
              +icon-block("icon-file-key")
              +icon-block("icon-file-ai")
              +icon-block("icon-file-psd")
              +icon-block("icon-file-indd")

        hr

        .block-ver-md#section-instock
          h2.inline-block Instock

          .card
            .row
              +icon-block("icon-instock-in-stock")
              +icon-block("icon-instock-out-of-stock-all-skus")
              +icon-block("icon-instock-out-of-stock-some-skus")
              +icon-block("icon-instock-restocked")
              +icon-block("icon-instock-markdown-all-skus")
              +icon-block("icon-instock-markdown-some-skus")
              +icon-block("icon-instock-markup-all-skus")
              +icon-block("icon-instock-markup-some-skus")
            
            hr

            .row
              +icon-block("icon-instock-kpi")
              +icon-block("icon-instock-date")
              +icon-block("icon-instock-country")
              +icon-block("icon-instock-retailer")
              +icon-block("icon-instock-product")
              +icon-block("icon-instock-age-range")
              +icon-block("icon-instock-price")
              +icon-block("icon-instock-colour")
              +icon-block("icon-instock-print")
              +icon-block("icon-instock-material")

            hr

            .row
              +icon-block("icon-instock-download-xls")
              +icon-block("icon-instock-download-pdf")

        hr

        .block-ver-md#section-languages
          h2.inline-block Languages

          .card
            .row
              +icon-block("icon-lang-en")
              +icon-block("icon-lang-es")
              +icon-block("icon-lang-pt")
              +icon-block("icon-lang-cs")
              +icon-block("icon-lang-jp")
              +icon-block("icon-lang-ko")

        hr

        .block-ver-md#section-social-media
          h2.inline-block Social Media

          .card
            .row
              +icon-block("icon-facebook")
              +icon-block("icon-twitter")
              +icon-block("icon-instagram")
              +icon-block("icon-google-plus")
              +icon-block("icon-tumblr")
              +icon-block("icon-pinterest")
              +icon-block("icon-youtube")
              +icon-block("icon-youtube-alt")
              +icon-block("icon-vimeo")
              +icon-block("icon-linkedin")

        hr

        .block-top-md#section-symbols
          h2.inline-block Symbols

          .card
            .row
              +icon-block("icon-circle")
              +icon-block("icon-heart")
              +icon-block("icon-heart-filled")
              +icon-block("icon-tick")
              +icon-block("icon-tick-circle")
              +icon-block("icon-tick-circle-filled")
              +icon-block("icon-cross")
              +icon-block("icon-cross-circle")
              +icon-block("icon-cross-circle-filled")
              +icon-block("icon-plus")
              +icon-block("icon-plus-circle")
              +icon-block("icon-plus-circle-filled")
              +icon-block("icon-minus")
              +icon-block("icon-minus-circle")
              +icon-block("icon-minus-circle-filled")
              +icon-block("icon-list")
              +icon-block("icon-eye")