mixin colour-block(id, colour)
  .col-xs-6.col-sm-4.block-bot-md(class!=attributes.class)
    .colour-block.border.text-center(id=id)
      .block-md.border-bottom.text-white(style="background-color: #" + colour)
        span #
        span= colour
      .block-xs
        code $
          code= id

.block-ver-md#section-colours
  h2.inline-block Colours
  a.text-underline.text-grey.text-smaller.inline-block(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_vars.sass" target="_blank") View on Github

  p Variables for those product colours you all know and love.

  .card
    .row
      +colour-block("wgsn", "0000dd")
    
    .row
      +colour-block("insight", "9e70a1")
      +colour-block("fashion", "fe484f")
      +colour-block("li", "00b697")
      +colour-block("instock", "3e97f1")
      +colour-block("styletrial", "ffc430")
      +colour-block("mindset", "231f20")

  p ...and some handy, dandy greys.
    
  .card
    .row
      +colour-block("xlt-grey", "fafafa")
      +colour-block("lt-grey", "e4e5e6")
      +colour-block("md-grey", "a7a9ac")
      +colour-block("dk-grey", "555")
      +colour-block("xdk-grey", "222")

  p There are also some nicely prepared 
    code .bg
    |  classes for you.

  .card
    .row
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-md.border.text-center.bg-white
            .block-bot-sm: code .bg-white
            p.tight Text will be black
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-md.border.text-center.bg-xlt-grey
            .block-bot-sm: code .bg-xlt-grey
            p.tight Text will be black
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-md.border.text-center.bg-lt-grey
            .block-bot-sm: code .bg-lt-grey
            p.tight Text will be black
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-md.border.text-center.bg-md-grey
            .block-bot-sm: code .bg-md-grey
            p.tight Text will be white
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-md.border.text-center.bg-dk-grey
            .block-bot-sm: code .dk-xlt-grey
            p.tight Text will be white
      .col-xs-12.col-sm-6
        .block-md.border.text-center.bg-xdk-grey
          .block-bot-sm: code .bg-xdk-grey
          p.tight Text will be white