mixin colour-block(id, colour)
  .col-xs-6.col-sm-4.block-bot-md(class!=attributes.class)
    .colour-block.border.text-center(id=id)
      .block-lg.border-bottom.text-white(style="background-color: #" + colour)
        span #
        span= colour
      .block-xs
        code $
          code= id

.block-ver-md#section-colours
  h2.inline-block Colours
  a.styled.text-smaller(href="https://github.com/amelia-lewis/wgsn-styleguide/blob/master/public/css/_vars.sass" target="_blank") View on Github

  p Variables for those product colours you all know and love.

  .card
    .row
      +colour-block("wgsn", "0000DD")
    
    .row
      +colour-block("insight", "9B59B6")
      +colour-block("fashion", "FE484F")
      +colour-block("li", "00B697")
      +colour-block("instock", "3E97F1")
      +colour-block("styletrial", "FFC430")
      +colour-block("mindset", "231F20")

  p ...and some handy, dandy greys.
    
  .card
    .row
      +colour-block("xlt-grey", "FAFAFA")
      +colour-block("lt-grey", "E4E5E6")
      +colour-block("md-grey", "A7A9AC")
      +colour-block("dk-grey", "555")
      +colour-block("xdk-grey", "222")

  p There are also some nicely prepared 
    code .bg
    |  classes for you.

  .card
    .row
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-lg.border.text-center.bg-white
            .block-bot-sm: code .bg-white
            p.tight Text will be black
      
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-lg.border.text-center.bg-xlt-grey
            .block-bot-sm: code .bg-xlt-grey
            p.tight Text will be black
      
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-lg.border.text-center.bg-lt-grey
            .block-bot-sm: code .bg-lt-grey
            p.tight Text will be black
      
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-lg.border.text-center.bg-md-grey
            .block-bot-sm: code .bg-md-grey
            p.tight Text will be white
      
      .col-xs-12.col-sm-6
        .block-bot-md
          .block-lg.border.text-center.bg-dk-grey
            .block-bot-sm: code .dk-xlt-grey
            p.tight Text will be white
      
      .col-xs-12.col-sm-6
        .block-lg.border.text-center.bg-xdk-grey
          .block-bot-sm: code .bg-xdk-grey
          p.tight Text will be white
      
      .col-xs-12.col-sm-6
        .block-lg.border.text-center.bg-black
          .block-bot-sm: code .bg-black
          p.tight Text will be white