.block-ver-md#section-helper-classes
  h2.inline-block Helper Classes
  a.underlined.text-grey.text-smaller.inline-block(href="" target="_blank") View on Github

  p Here are some handy classes to save re-writing a bunch of things.

  .card
    .row.block-bot-md.border-bottom
      .col-xs-4
        code .pull-left
      .col-xs-8
        p.tight.pull-left Float left

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .pull-right
      .col-xs-8
        p.tight.pull-right Float right

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .inline-block
      .col-xs-8
        p.tight.inline-block Display as an inline-block element

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .overflow-auto
      .col-xs-8
        p.tight.overflow-auto Sets an item's overflow to auto

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .border
      .col-xs-8
        p.tight.block-sm.border Adds a border to the element

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .border-top
      .col-xs-8
        p.tight.block-sm.border-top Adds a border to just the top of element

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .border-right
      .col-xs-8
        p.tight.block-sm.border-right Adds a border to just the right of element

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .border-bottom
      .col-xs-8
        p.tight.block-sm.border-bottom Adds a border to just the bottom of element

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .border-left
      .col-xs-8
        p.tight.block-sm.border-left Adds a border to just the left of element

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .box-shadow
      .col-xs-8
        p.tight.block-sm.border.box-shadow Adds a box-shadow

    .row.block-ver-md.border-bottom
      .col-xs-4
        code .flex-center
      .col-xs-8
        p.tight.block-sm.border.flex-center Align an element's children centrally, using flexbox

    .row.block-top-md
      .col-xs-4
        code .clearfix
      .col-xs-8
        p.tight Applies clearfix