section#section-hiders
  h2.inline-block Hiders
  +github-link("hiders")

  p Use these to hide elements on different devices. These will only work when used in conjunction with 
    a.styled(href="http://matthewhudson.me/projects/device.js/" target="_blank") device.js
    | .

  .card
    table.table
      thead
        th Class
        th.text-center Mobile
        th.text-center Tablet
        th.text-center Desktop

      tbody
        tr
          td: code .hidden-mobile
          td.text-center: i.icon.icon-cross
          td.text-center: i.icon.icon-tick
          td.text-center: i.icon.icon-tick
        tr
          td: code .hidden-tablet
          td.text-center: i.icon.icon-tick
          td.text-center: i.icon.icon-cross
          td.text-center: i.icon.icon-tick
        tr
          td: code .hidden-desktop
          td.text-center: i.icon.icon-tick
          td.text-center: i.icon.icon-tick
          td.text-center: i.icon.icon-cross
        tr
          td: code .show-mobile
          td.text-center: i.icon.icon-tick
          td.text-center: i.icon.icon-cross
          td.text-center: i.icon.icon-cross
        tr
          td: code .show-tablet
          td.text-center: i.icon.icon-cross
          td.text-center: i.icon.icon-tick
          td.text-center: i.icon.icon-cross
        tr
          td: code .show-desktop
          td.text-center: i.icon.icon-cross
          td.text-center: i.icon.icon-cross
          td.text-center: i.icon.icon-tick