extends ../../layout

block append vars
  - bodyclass = 'style-guide-layout'

block content
  include ../../partials/style-guide-sub-nav

  section.block-top-xl
    .row
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="") Layout

      .col-xs-12.col-sm-9
        h2 Layout