extends ../../layout

block append vars
  - bodyclass = 'style-guide style-guide-layout'

block content
  include ../../partials/style-guide-sub-nav

  section
    .row
      .col-xs-0.col-sm-3.col-md-2
        .sidebar-menu.sticky
          h4.sidebar-menu--title Sections
          ul
            li: a(href="#section-blocks") Blocks
            li: a(href="#section-colours") Colours
            li: a(href="#section-helper-classes") Helper classes
            li: a(href="#section-hiders") Hiders

      //- =======================================================

      .col-xs-12.col-sm-9.col-lg-7
        section
          h2 Example Page Layout
          .block: a.styled(href="/example-page" target="_blank") Here →
        hr
        include blocks
        hr
        include colours
        hr
        include helper-classes
        hr
        include hiders