extends ../../layout

block append vars
  - bodyclass = 'style-guide-layout'

block content
  include ../../partials/style-guide-sub-nav

  section.block-top-xl
    .row
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="#section-blocks") Blocks
          li: a(href="#section-colours") Colours
          li: a(href="#section-helper-classes") Helper classes
          li: a(href="#section-hiders") Hiders

      .col-xs-12.col-sm-9
        
        include blocks
        hr

        //- =======================================================

        include colours
        hr

        //- =======================================================

        include helper-classes
        hr

        //- =======================================================

        include hiders