mixin font-card(id, name, filename, description, ...examples)
  .card.font-card.block-lg.wow.fadeIn
    .block-bot-md
      h3= name
      .description: p=description
  
    .example
      each example in examples
        for letter, i in example.split("")
          span.char(class="char-#{i + 1} " + id)= letter
        br

    if filename
      .block-top-md: a.btn.btn-white(href="/downloads/fonts/" + filename download=filename) Download font file