svg#wgsn-logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 1000 260', style='enable-background:new 0 0 1000 260;', xml:space='preserve')
  g
    path.logo-w(d='M227.3,255.9l-64.1-139.4h-1L98.1,255.9h-6.6L0,6.8h56.8l43.9,128.5h0.7L159.9,6.8h6.6l58.8,128.5h1,L270.2,6.8h54.8l-91.2,249.1H227.3z')
    path.logo-g(d='M463.9,204.7h8.3v54.2h-7.9c-80.6,0-137.8-54.8-137.8-129.2C326.4,55,383.6,1.1,464.2,1.1h7.9v53.2h-8.3,c-50.2,0-83.9,32-83.9,75.3C379.9,173.6,413.7,204.7,463.9,204.7z M556,105.9v102.4h-49.2v-54.8H452v-47.6H556z')
    path.logo-s(d='M584.8,183.5c17.5,15.5,44.9,27.1,69.1,27.1c25.8,0,40.7-12.2,40.7-28.1c0-17.5-19.2-24.8-44.6-35,c-26.4-10.2-65.7-27.1-65.7-72.3c0-40,32.1-73.7,87.6-73.7c23.4,0,47.9,7.3,64.4,16.9v50.2C720,57,694.9,49.7,676,49.7,c-24.4,0-38,11.2-38,24.1c0,13.9,15.2,21.1,35.7,29.1c31.7,11.9,77,27.4,77,78c0,44-34,77.6-91.2,77.6c-30.1,0-57.8-9.9-74.7-22.1,V183.5z')
    path.logo-n(d='M1000,6.8v248.8h-10.6L838.1,113.2h-1v140.1h-51.5V6.1h11.2l152.3,141.4V6.8H1000z')
