mixin logo-card(id, title)
  .card-container
    .card(class!=attributes.class style="background-image: url('/downloads/png-sm/wgsn-" + id + ".png')")
      .info.display-box.absolute-full
        ul.text-center
          li
            a(href="/downloads/png-sm/wgsn-" + id + ".png" download="wgsn-" + id)
              i.fa.fa-download
              |  PNG (sm)
          li 
            a(href="/downloads/png-lg/wgsn-" + id + ".png" download="wgsn-" + id)
              i.fa.fa-download
              |  PNG (lg)
          li
            a(href="/downloads/svg/wgsn-" + id + ".svg" download="wgsn-" + id)
              i.fa.fa-download
              |  SVG