//- jQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')


//- Prism
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.min.js')


//- Wow
script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
script.
  new WOW().init();


//- Clipboard
script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.3/clipboard.min.js')
script.
  var clipboard = new Clipboard('.clipboard');
  clipboard.on('success', function(e) {
    console.log(e);
    document.getElementById("alert-success").classList.add('show');

    setTimeout(function(){
      document.getElementById("alert-success").classList.remove('show');
    }, 800);
  });
  
  clipboard.on('error', function(e) {
    console.log(e);
    document.getElementById("alert-error").classList.add('show');

    setTimeout(function(){
      document.getElementById("alert-error").classList.remove('show');
    }, 800);
  });


//- Tabs
script.
  $('.tab-nav--tab').on('click', function() {
    $(this).addClass('tab-nav--active').siblings().removeClass('tab-nav--active');
  });


//- Smooth scroll
script.
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top - 120
          }, 1000);
          return false;
        }
      }
    });
  });


//- Headroom
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.min.js')
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.min.js')
script.
  $("header").headroom();
  $(".sub-header").headroom();


//- Toggles
script.
  $('.input--toggle').on('click', function() {
    $(this).toggleClass('input--toggle-on input--toggle-off');
  });


//- Sticky
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js')
script.
  $(document).ready(function(){
    $(".sticky").sticky({
    topSpacing: 77 + 54,
    bottomSpacing: 198
    });
  });


//- Swiper
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js")

script.
  $(document).ready(function () {
    var mySwiper = new Swiper ('.swiper-container', {
      direction: 'horizontal',
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev'
    })        
  });


//- Product
script.
  $('#product-changer').change(function() {
    $('body').removeClass("wgsn insight fashion li instock styletrial");
    $('body').addClass($(this).val());
  })

  $('#product-changer2').change(function() {
    $('body').removeClass("wgsn insight fashion li instock styletrial");
    $('body').addClass($(this).val());
  })


//- Hamburgler
script.
  document.getElementById('hamburgler').addEventListener('click', checkNav);
  window.addEventListener("keyup", function(e) {
    if (e.keyCode == 27) closeNav();
  }, false);

  function checkNav() {
    if (document.body.classList.contains('hamburgler-active')) {
      closeNav();
    } else {
      openNav();
    }
  }

  function closeNav() {
    document.body.classList.remove('hamburgler-active');
  }

  function openNav() {
    document.body.classList.add('hamburgler-active');
  }