script(src='./js/wow.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.3/clipboard.min.js')

script.
  new WOW().init();

script.
  var clipboard = new Clipboard('.clipboard');
    clipboard.on('success', function(e) {
    console.log(e);
    document.getElementById("alert-success").classList.add('show');

    setTimeout(function(){
      document.getElementById("alert-success").classList.remove('show');
    }, 600);
  });
  
  clipboard.on('error', function(e) {
    console.log(e);
    document.getElementById("alert-error").classList.add('show');

    setTimeout(function(){
      document.getElementById("alert-error").classList.remove('show');
    }, 600);
  });