script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.3/clipboard.min.js')
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.min.js')
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.min.js')

//- WOW
script.
  new WOW().init();

//- CLIPBOARD
script.
  var clipboard = new Clipboard('.clipboard');
  clipboard.on('success', function(e) {
    console.log(e);
    document.getElementById("alert-success").classList.add('show');

    setTimeout(function(){
      document.getElementById("alert-success").classList.remove('show');
    }, 800);
  });
  
  clipboard.on('error', function(e) {
    console.log(e);
    document.getElementById("alert-error").classList.add('show');

    setTimeout(function(){
      document.getElementById("alert-error").classList.remove('show');
    }, 800);
  });

//- TABS
script.
  $('.tab-nav-tab').on('click', function() {
    $(this).addClass('active').siblings().removeClass('active');
  });

//- SMOOTH SCROLL
script.
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });


//- headroom
script.
  $("header").headroom();
  $(".sub-header").headroom();