ul#sub-nav
  li#nav-style-guide-overview: a(href="/style-guide") Overview
  li#nav-style-guide-typography: a(href="/style-guide/typography") Typography
  li#nav-style-guide-layout: a(href="/style-guide/layout") Layout
  li#nav-style-guide-icons: a(href="/style-guide/icons") Icons
  li#nav-style-guide-ui-elements: a(href="/style-guide/ui-elements") UI Elements