.sub-header
  .content-wrap
    .row
      .col-xs-12.block-ver-sm
        ul.list-bare.header-nav
          li.tight.block-right-md.block-ver-sm.inline-block.pull-left#nav-style-guide-overview: a(href="/style-guide") Overview
          li.tight.block-hor-md.block-ver-sm.inline-block.pull-left#nav-style-guide-typography: a(href="/style-guide/typography") Typography
          li.tight.block-hor-md.block-ver-sm.inline-block.pull-left#nav-style-guide-grid: a(href="/style-guide/grid") Grid
          li.tight.block-hor-md.block-ver-sm.inline-block.pull-left#nav-style-guide-layout: a(href="/style-guide/layout") Layout
          li.tight.block-hor-md.block-ver-sm.inline-block.pull-left#nav-style-guide-ui-elements: a(href="/style-guide/ui-elements") UI Elements
          li.tight.block-hor-md.block-ver-sm.inline-block.pull-left#nav-style-guide-content-tiles: a(href="/style-guide/content-tiles") Content Tiles
          li.tight.block-hor-md.block-ver-sm.inline-block.pull-left#nav-style-guide-icons: a(href="/style-guide/icons") Icons
          //- li#nav-style-guide-mixins: a(href="/style-guide/mixins") Mixins