extends ../../layout

block append vars
  - bodyclass = 'style-guide-mixins'

block content
  include ../../partials/style-guide-sub-nav
  
  section.block-top-xl
    .row
      .col-xs-12.col-sm-3
        ul#sidebar-nav
          li: a(href="#section-arrows") Mixins

      .col-xs-12.col-sm-9
        .block-bot-md#section-arrows
          h2.inline-block Mixins

          .card
            p Hello